<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Creature 
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" class="text-center" style="position: relative;" >
                            <input
                                ref="creatureImageFile"
                                type="file"
                                class="d-none"
                                @change="onCreatureImageChange">

                            <v-card
                                :class="creatureImage ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                @click="$refs.creatureImageFile.click()" >
                                
                                <v-img v-if="creatureImage" :src="creatureImage" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-account</v-icon>

                            </v-card>
                            <v-card
                                :class="creatureImage ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                style="position: absolute;left: 30px;" >

                                <v-img
                                    :src="require(`@/assets/logo_profile_qr.png`)"
                                    class="grey lighten-2"
                                    style="width: 20px; height: 20px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: 0px!important" />
                                <qrcode :value="qrcodeItemId" :options="{ width: 103 }" />
                                
                            </v-card>
                            <div class="font-weight-bold grey--text">
                                CHOOSE PICTURE
                                <span class="font-weight-bold grey--text" style="position: absolute;left: 10px;" >{{ qrcodeItemCode }}</span>
                            </div>
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="code" v-model="code" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="first name" v-model="firstName" :rules="firstNameRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="last name" v-model="lastName" :rules="lastNameRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-select 
                                v-model="gender" 
                                :items="genderSelectItems" 
                                label="gender" 
                                item-value="id"
                                item-text="name"
                                :rules="genderRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-select 
                                v-model="bloodType" 
                                :items="bloodTypeSelectItems" 
                                label="blood type" 
                                item-value="id"
                                item-text="name"
                                :rules="bloodTypeRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="weight" v-model="weight" :rules="weightRules" @paste="onPaste" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="height" v-model="height" :rules="heightRules" @paste="onPaste" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-menu
                                :close-on-content-click="false"
                                v-model="menu"
                                transition="scale-transition"
                                offset-y
                                :nudge-right="40"
                                max-width="290px"
                                min-width="290px"
                                class="v-menu_custom" >
                                
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-on="on"
                                        label="birth date"
                                        v-model="computedBirthDateFormatted"
                                        append-icon="mdi-calendar"
                                        readonly />
                                </template>
                                <v-date-picker class="date-picker-custom" v-model="birthDate" @input="menu = false" color="primary" />
                            </v-menu>
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="create date" v-model="createDate" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="parent" v-model="parent" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="status" v-model="statusName" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <input
                                ref="birthCertificateImageFile"
                                type="file"
                                class="d-none"
                                @change="onBirthCertificateImageChange">

                            <v-card
                                :class="birthCertificateImage ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="512"
                                width="100%"
                                @click="$refs.birthCertificateImageFile.click()" >
                                
                                <v-img v-if="birthCertificateImage" :src="birthCertificateImage" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-file-image</v-icon>
                            </v-card>
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-col cols="auto" md="12" >
                                <v-btn color="#614051" dark text :to="{ name: 'member-edit', params: { id: memberId } }" >
                                    <v-icon left olor="#614051" v-text="'mdi-human-male'" />
                                    Parent
                                </v-btn>
                            </v-col>
                            <v-col cols="auto" md="12" >
                                <v-btn color="#0976B4" dark text :to="{ name: 'treatment-history' }" >
                                    <v-icon left olor="#0976B4" v-text="'mdi-format-title'" />
                                    Treatment history
                                </v-btn>
                            </v-col>
                            <v-col cols="auto" md="12" >
                                 <v-btn color="#DD4b39" dark text :to="{ name: 'medical-info' }" >
                                    <v-icon left color="#DD4b39" v-text="'mdi-medical-bag'" />
                                    Medical info
                                </v-btn>
                             </v-col>
                             <v-col cols="auto" md="12" >
                                 <v-btn color="#31B5F7" dark text :to="{ name: 'drug' }" >
                                    <v-icon left color="#31B5F7" v-text="'mdi-pill'" />
                                    Drug
                                </v-btn>
                             </v-col>
                             <v-col cols="auto" md="12" >
                                 <v-btn color="#F87431" dark text :to="{ name: 'drug-allergy' }" >
                                    <v-icon left color="#F87431" v-text="'mdi-flask-empty'" />
                                    Drug allergy
                                </v-btn>
                             </v-col>
                             <v-col cols="auto" md="12" >
                                 <v-btn color="#52D017" dark text :to="{ name: 'food-allergy' }" >
                                    <v-icon left color="#52D017" v-text="'mdi-food-off'" />
                                    Food allergy
                                </v-btn>
                             </v-col>
                             <v-col cols="auto" md="12" >
                                 <v-btn color="#FF00FF" dark text :to="{ name: 'vaccine-book' }" >
                                    <v-icon left color="#FF00FF" v-text="'mdi-metronome'" />
                                    Vaccine
                                </v-btn>
                             </v-col>
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="error" class="mr-1" @click="closeDialog = true" :loading="loading" :disabled="loading">
                                Delete
                            </v-btn>
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                    
                </v-container>
            </v-form>
            <base-material-snackbar
                v-model="snackbar"
                type="error"
                v-bind="{
                    top: true,
                    center: true
                }" >
                <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
            </base-material-snackbar>
        </base-material-card>
        <v-dialog v-model="closeDialog" max-width="300" >
            <v-card>
                <v-card-title>
                    Are you sure? 
                    <v-spacer />
                    <v-icon aria-label="Close" @click="closeDialog = false" >
                        mdi-close
                    </v-icon>
                </v-card-title>

                <v-card-text class="pb-6 pt-12 text-center">
                    <v-btn class="mr-3" text @click="closeDialog = false" >
                        No
                    </v-btn>

                    <v-btn color="success" text @click="deleteCreature" >
                        Yes
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            menu: false,
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            loading: false, 
            code: null,
            id: null,
            code: null,
            creatureImage: null,
            creatureImageId: null,
            oldCreatureImageId: null,
            isCreatureImageChange: false,
            birthCertificateImage: null,
            birthCertificateImageId: null,
            oldbirthCertificateImageId: null,
            isBirthCertificateImageChange: false,
            firstName: null,
            lastName: null,
            gender: null,
            bloodType: null,
            birthDate: null,
            weight: null,
            height: null,
            qrcodeItemId: null,
            qrcodeItemCode: null,
            status: null,
            statusName: null,
            memberId: null,
            parent: null,
            createDate: null,
            genderSelectItems: [
                { id: 1, name: 'male' },
                { id: 2, name: 'female' }
            ],
            bloodTypeSelectItems: [
                { id: 1, name: 'AB' },
                { id: 2, name: 'A' },
                { id: 3, name: 'B' },
                { id: 4, name: 'O' }
            ],
            firstNameRules: [
                (v) => !!v || 'First name is required'
            ],
            lastNameRules: [
                (v) => !!v || 'Last name is required'
            ],
            weightRules: [
                (v) => !!v || 'Weight is required',
                (v) => !!/^-{0,1}\d*\.{0,1}\d+$/.test(v) || 'Weight is invalid'
            ],
            heightRules: [
                (v) => !!v || 'Height is required',
                (v) => !!/^-{0,1}\d*\.{0,1}\d+$/.test(v) || 'Height is invalid'
            ],
            genderRules: [
                (v) => !!v || 'Gender is required'
            ],
            bloodTypeRules: [
                (v) => !!v || 'Blood type is required'
            ],
            address1Rules: [
                (v) => !!v || 'Address1 no is required'
            ],
            statusRules: [
                (v) => !!v || 'Status no is required'
            ]
        }),
        computed: {
            ...mapState('creature', [ 'item', 'isLoading' ]),
            computedBirthDateFormatted () {
                return this.formatDate(this.birthDate)
            }
        },
        mounted() {
            this.getCreatureById()
        },
        methods: {
            isNumber (evt) {
                evt = (evt) ? evt : window.event
                var charCode = (evt.which) ? evt.which : evt.keyCode
                
                if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                    evt.preventDefault()
                } else {
                    return true
                }
            },
            onPaste (evt) {
                evt.preventDefault()
            },
            formatDate (date) {
                if (!date) return null
                return  dayjs(this.birthDate, 'YYYY/MM/DD').format('DD/MM/YYYY') 
            },
            async onCreatureImageChange (val) {
                const value = val.target.files[0]
    
                if (!value) return (this.creatureImage = null)

                const data = {
                    name: 'creature-profile.js',
                    tag: 'creature-profile-image',
                    type: value.type,
                    uri: value
                }
                
                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    
                    this.creatureImageId = result.id
                    this.creatureImage = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isCreatureImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            async onBirthCertificateImageChange (val) {
                const value = val.target.files[0]

                if (!value) return (this.birthCertificateImage = null)

                const data = {
                    name: 'creature-birth-certificate.js',
                    tag: 'creature-birth-certificate-image',
                    type: value.type,
                    uri: value
                }
                
                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.birthCertificateImageId = result.id
                    this.birthCertificateImage = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isBirthCertificateImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }

            },
            async getCreatureById () {
                if (this.$route.params.id) {
                    this.amountDisabled = true

                    try {
                        await this.$store.dispatch('creature/GET_CREATURE_BY_ID', this.$route.params.id)

                        const { 
                            id,
                            code,
                            creature_image_id,
                            creature_image_path,
                            creature_image_name,
                            birth_certificate_image_id,
                            birth_certificate_image_path,
                            birth_certificate_image_name,
                            first_name,
                            last_name,
                            gender,
                            blood_type,
                            birth_date,
                            weight,
                            height,
                            member,
                            member_id,
                            status,
                            status_name,
                            create_by,
                            create_date,
                            edit_by,
                            edit_date,
                            qrcode_item_id,
                            qrcode_item_code } = this.$store.state.creature.creature

                        this.id = id
                        this.code = code
                        this.creatureImage = creature_image_path !== null && creature_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + creature_image_path + '/' + creature_image_name : null
                        this.creatureImageId = creature_image_id
                        this.oldCreatureImageId = creature_image_id
                        this.birthCertificateImage = birth_certificate_image_path !== null && birth_certificate_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + birth_certificate_image_path + '/' + birth_certificate_image_name : null
                        this.birthCertificateImageId = birth_certificate_image_id
                        this.oldBirthCertificateImageId = birth_certificate_image_id
                        this.firstName = first_name
                        this.lastName = last_name
                        this.weight = weight
                        this.height = height
                        this.gender = gender
                        this.bloodType = blood_type
                        this.birthDate = dayjs(birth_date).format('YYYY-MM-DD')
                        this.parent= member
                        this.memberId = member_id
                        this.status = status
                        this.statusName = status_name
                        this.createBy = create_by
                        this.createDate = this.convertJSONDateToString(create_date)
                        this.editBy = edit_by
                        this.editDate = this.convertJSONDateToString(edit_date)
                        this.qrcodeItemId = qrcode_item_id
                        this.qrcodeItemCode = qrcode_item_code
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const data = {
                        id: this.id,
                        firstName: this.firstName,
                        lastName: this.lastName,
                        gender: this.gender,
                        bloodType: this.bloodType,
                        weight: this.weight,
                        height: this.height,
                        birthDate: dayjs(this.birthDate, 'DD/MM/YYYY').format(),
                        creatureImageId: this.creatureImageId,
                        birthCertificateId: this.birthCertificateImageId,
                        oldCreatureImageId: this.isCreatureImageChange ? this.oldCreatureImageId : null,
                        oldBirthCertificate: this.isBirthCertificateImageChange ? this.oldBirthCertificateImageId : null,
                    }

                    try {   
                        const result = await this.$store.dispatch('creature/UPDATE_CREATURE', data)
                        this.$router.push({ path: '/admin/creature' })
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                }
            },
            async deleteCreature () {
                try {
                    const result = await this.$store.dispatch('creature/DELETE_CREATURE', this.id)
                    this.closeDialog = false
                    // this.$router.push({ path: '/admin/creature' })
                } catch (error) {
                    this.closeDialog = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            }
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>