<template>
    <v-row>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="serial no." 
                v-model="serialNo" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="name" 
                v-model="name"
                clear-icon="mdi-close-circle"
                clearable />
        </v-col>
        <v-col cols="12" md="3" >
            <base-date-mask :dateChangeParent="dateChangeParent" label="birth date" />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="search"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                ค้นหา
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { mapMutations } from 'vuex'

    export default {
        name: 'CreatureSearchBar',
        data: () => ({
            serialNo: null,
            name: null,
            birthDate: null
        }),
        mounted() {
            this.getCreatureList(0)
        },
        computed: {
            serialNoCriteria: {
                get () {
                    return this.$store.state.creature.serialNoCriteria
                },
                set (val) {
                    this.$store.commit('creature/SET_SERIAL_NO_CRITERIA', val)
                }
            },
            nameCriteria: {
                get () {
                    return this.$store.state.creature.nameCriteria
                },
                set (val) {
                    this.$store.commit('creature/SET_NAME_CRITERIA', val)
                }
            }
        },
        methods: {
            ...mapMutations({
                setBirthDateCriteria: 'creature/SET_ฺBIRTH_DATE_CRITERIA',
                setPageCriteria: 'creature/SET_PAGE_CRITERIA'
            }),
            dateChangeParent(value) {
                this.birthDate = value
            },
            async search() {

                const data = {
                    serialNoCriteria: this.serialNo,
                    nameCriteria: this.name,
                    birthDateCriteria: this.birthDate,
                    offset: 0,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('creature/GET_CREATURE_LIST', data)
                    this.serialNoCriteria = this.serialNo
                    this.nameCriteria = this.name
                    this.setBirthDateCriteria(this.birthDate)
                    this.setPageCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            },
            async getCreatureList (page) {
                const data = {
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('creature/GET_CREATURE_LIST', data)
                    this.serialNoCriteria = null
                    this.nameCriteria = null
                    this.setBirthDateCriteria(null)
                    this.setPageCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>