<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="creatureList"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.code" />
                    <td v-text="item.name" />
                    <td v-text="item.member" />
                    <td v-text="convertJSONDateOnlyToString(item.birth_date)">
                    <td v-text="convertJSONDateToString(item.create_date)">
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'creature-edit', params: { id: item.id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalRecords"
            circle />
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'CreatureTableList',
        data: () => ({
            headers: [
                {
                    text: 'Serial no.',
                    value: 'code',
                    width: '10%'
                },
                {
                    text: 'Name',
                    value: 'name',
                    width: '15%'
                },
                {
                    text: 'Parent',
                    value: 'member',
                    width: '15%'
                },
                {
                    text: 'Birth date',
                    value: 'birth_date',
                    width: '15%'
                },
                {
                    text: 'Create date',
                    value: 'create_date',
                    width: '15%'
                },
                {
                    sortable: false,
                    text: '#',
                    width: '15%',
                    value: 'action'
                }
            ],
            search: undefined
        }),
        computed: {
            ...mapState(
                'creature', 
                [ 
                    'serialNoCriteria', 
                    'nameCriteria', 
                    'birthDateCriteria', 
                    'creatureList', 
                    'totalRecords', 
                    'isLoading' 
                ]
            ),
            page : {
                get () {
                    console.log('dfb', this.$store.state.creature.pageCriteria)
                    return this.$store.state.creature.pageCriteria
                },
                set (val) {
                    this.$store.commit('creature/SET_PAGE_CRITERIA', val)
                }
            }
        },
        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },
        watch: {
            async page () {
                // console.log(this.page)
                await this.getCreatureList(this.page - 1)
            }
        },
         methods: {
            async getCreatureList (page) {
                
                const data = {
                    serialNoCriteria: this.serialNoCriteria,
                    nameCriteria: this.nameCriteria,
                    birthDateCriteria: this.$store.state.creature.birthDateCriteria,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('creature/GET_CREATURE_LIST', data)

                } catch (error) {

                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
         }
    }
</script>
