<template>
    <v-container id="panels" fluid tag="section" >
        <v-row>
            <v-col class="mx-auto" cols="12" md="12" >
                <i-form ></i-form>
                <!-- <base-material-tabs
                    v-model="tab"
                    background-color="transparent"
                    centered
                    color="warning"
                    icons-and-text >

                    <v-tab v-for="(tab, i) in tabs" :key="i" >
                        {{ tab.text }}
                        <v-icon v-text="tab.icon" />
                    </v-tab>
                    
                    <v-tabs-items v-model="tab" class="pt-12 transparent" >
                        <v-tab-item v-for="(item, i) in tabItems" :key="i" >
                            <component v-bind:is="item.component"></component>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card class="mt-0 px-5">
                                <v-card-text>
                                <base-subheading subheading="Description about product">
                                    <p class="grey--text body-2 font-weight-light">
                                    More Information here
                                    </p>
                                </base-subheading>

                                <p>
                                    Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                </p>

                                <div>
                                    Dramatically visualize customer directed convergence without revolutionary ROI. Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits.
                                </div>
                                </v-card-text>
                            </v-card>
                        </v-tab-item>
                    </v-tabs-items>

                </base-material-tabs> -->
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    export default {
        name: 'QRCodeInfo',
        components: {
            iForm: () => import('./components/Form')
        },
        data: () => ({
            tab: 0,
            tabs: [
                {
                    text: 'Information',
                    icon: 'mdi-information',
                    component: 'iForm'
                },
                // {
                //     text: 'Location',
                //     icon: 'mdi-map-marker'
                // },
                // {
                //     text: 'Legal Info',
                //     icon: 'mdi-gavel'
                // },
                // {
                //     text: 'Help Center',
                //     icon: 'mdi-help-circle-outline'
                // }
            ]
        })
    }
</script>
