<template>
    <div>
        <base-material-card icon="mdi-medical-bag">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Medical info
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" md="12" >
                            <v-text-field label="hospital name" v-model="hospitalName" :rules="hospitalNameRules" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="hospital tel" v-model="hospitalTel" :rules="hospitalTelRules" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="patient ID" v-model="patientId" :rules="patientIdRules" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-select 
                                v-model="bloodType" 
                                :items="bloodTypeSelectItems" 
                                label="blood type" 
                                item-value="id"
                                item-text="name"
                                :rules="bloodTypeRules" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="doctor name" v-model="doctorName" :rules="doctorNameRules" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="doctor contact no" v-model="doctorContactNo" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="congenital disorder" v-model="congenitalDisorder" />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <!-- <v-btn color="error" class="mr-1" @click="closeDialog = true" :loading="loading" :disabled="loading">
                                Delete
                            </v-btn> -->
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
                <base-material-snackbar
                    v-model="snackbar"
                    type="error"
                    v-bind="{
                        top: true,
                        center: true
                    }" >
                    <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
                </base-material-snackbar>
            </v-form>
            <v-dialog v-model="closeDialog" max-width="300" >
                <v-card>
                    <v-card-title>
                        Are you sure? 
                        <v-spacer />
                        <v-icon aria-label="Close" @click="closeDialog = false" >
                            mdi-close
                        </v-icon>
                    </v-card-title>

                    <v-card-text class="pb-6 pt-12 text-center">
                        <v-btn class="mr-3" text @click="closeDialog = false" >
                            No
                        </v-btn>

                        <v-btn color="success" text @click="deleteDrug" >
                            Yes
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            loading: false, 
            code: null,
            id: null,
            hospitalName: null,
            hospitalTel: null,
            patientId: null,
            bloodType: null,
            doctorName: null,
            doctorContactNo: null,
            congenitalDisorder: null,
            bloodTypeSelectItems: [
                { id: 1, name: 'AB' },
                { id: 2, name: 'A' },
                { id: 3, name: 'B' },
                { id: 4, name: 'O' }
            ],
            hospitalNameRules: [
                (v) => !!v || 'hopital name is required'
            ],
            hospitalTelRules: [
                (v) => !!v || 'hopital tel is required'
            ],
            patientIdRules: [
                (v) => !!v || 'patient id is required'
            ],
            bloodTypeRules: [
                (v) => !!v || 'blood type is required'
            ],
            doctorNameRules: [
                (v) => !!v || 'doctor name is required'
            ],
            doctorContactNoRules: [
                (v) => !!v || 'doctor contact no is required'
            ]
        }),
        mounted() {
            this.getMedicalByCreatureId()
        },
        methods: {
            async getMedicalByCreatureId () {
                if (this.$route.params.id) {

                    try {
                        await this.$store.dispatch('medical/GET_MEDICAL_BY_CREATURE_ID', this.$route.params.id)

                        const { 
                            id,
                            hospital_name,
                            hospital_tel,
                            patient_id,
                            blood_type,
                            doctor_name,
                            doctor_contact_no,
                            congenital_disorder } = this.$store.state.medical.medical
                        
                        this.id = id
                        this.hospitalName = hospital_name 
                        this.hospitalTel = hospital_tel 
                        this.patientId = patient_id
                        this.bloodType = blood_type
                        this.doctorName = doctor_name
                        this.doctorContactNo = doctor_contact_no
                        this.congenitalDisorder = congenital_disorder
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const data = {
                        id: this.id,
                        hospitalName: this.hospitalName,
                        hospitalTel: this.hospitalTel,
                        patientId: this.patientId,
                        bloodType: this.bloodType,
                        doctorName: this.doctorName,
                        doctorContactNo: this.doctorContactNo,
                        congenitalDisorder: this.congenitalDisorder,
                        creatureId: this.$route.params.id
                    }

                    try {
                        const result = await this.$store.dispatch('medical/UPDATE_MEDICAL', data)
                        this.$router.go(-1)
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                }
            }
        }
    }
</script>