<template>
    <div style="height: 100%;">
        <v-container class="py-0" style="height: 85%;" >
            <v-row>
                <v-col cols="12">
                    <a
                        v-if="image"
                        :href="image"
                        class="mr-0"
                        rel="noopener"
                        target="_blank" >
                        <v-img
                            :src="image"
                            :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                            aspect-ratio="1"
                            class="grey lighten-2"
                            style="width: 150px;height: 150px;margin: auto;"/>
                        </a>
                    <div v-else style="width: 150px;height: 150px;margin: auto;" />
                    
                </v-col>
                <v-col cols="12" >
                    <div style="color: #FFFFFF;" >Firstname: {{ firstName }}</div>
                    <div style="color: #FFFFFF;" >Lastname: {{ lastName }}</div>
                    <div style="color: #FFFFFF;" >Gender: {{ genderName }}</div>
                    <div style="color: #FFFFFF;" >Blood type: {{ bloodTypeName }}</div>
                    <div style="color: #FFFFFF;" >Date of birth: {{ birthDate }}</div>
                    <div style="color: #FFFFFF;" >Relationship: {{ relationship }}</div>
                    <div style="color: #FFFFFF;" >ID no. : {{ identificationNo }}</div>
                    <div style="color: #FFFFFF;" >
                        Contact no. : 
                        <a :href="`tel:${contactNo1}`" style="text-decoration: none;">
                            <span style="color: #3BB9FF;">{{ contactNo1 }}</span>
                        </a>
                    </div>
                    <div v-if="contactNo2" > 
                        Contact no. : 
                        <a :href="`tel:${contactNo2}`" style="text-decoration: none;">
                            <span style="color: #3BB9FF;">{{ contactNo2 }}</span>
                        </a>
                    </div>
                    <div style="display: flex" > 
                        <span style="color: #FFFFFF;width: 21%;">Address : </span>  
                        <span style="color: #FFFFFF;width: 79%;" >{{ address1 }}</span>
                    </div>
                    <div style="display: flex" > 
                        <span style="width: 21%;">Address : </span>  
                        <span style="color: #FFFFFF;width: 79%;" >{{ address2 }}</span>
                    </div>
                    <div style="display: flex" > 
                        <span style="width: 21%;">Address : </span>  
                        <span style="color: #FFFFFF;width: 79%;" >{{ address3 }}</span>
                    </div>
                </v-col>
            </v-row>
            <v-snackbar
                type="error"
                v-model="snackbar"
                top
                color="red" >
                {{ errorMessage }}
                <v-btn color="#FFFFFF" text @click="snackbar = false" >
                    Close
                </v-btn>
            </v-snackbar>
        </v-container>
    </div>
</template>

<script>
    import dayjs from 'dayjs'

    export default {
        name: 'CreaturePreview',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            image: null,
            firstName: null,
            lastName: null,
            firstName: null,
            genderName: null,
            bloodTypeName: null,
            birthDate: null,
            relationship: null,
            identificationNo: null,
            contactNo1: null,
            contactNo2: null,
            address1: null,
            address2: null,
            address3: null,
        }),
        mounted() {
            this.getMemberById()
        },
        methods: {
            async getMemberById () {
                if (this.$route.params.parent_id) {
                    
                    try {
                        await this.$store.dispatch('member/GET_MEMBER_BY_ID', this.$route.params.parent_id)

                        const { 
                            id,
                            profile_image_path,
                            profile_image_name,
                            first_name,
                            last_name,
                            gender_name,
                            blood_type_name,
                            birth_date,
                            relationship,
                            identification_no,
                            contact_no1,
                            contact_no2,
                            address1,
                            address2,
                            address3 } = this.$store.state.member.item

                        this.image = profile_image_path !== null && profile_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + profile_image_path + '/' + profile_image_name : null

                        this.firstName = first_name
                        this.lastName = last_name
                        this.genderName = gender_name
                        this.bloodTypeName = blood_type_name
                        this.birthDate = this.convertJSONDateToString(birth_date)
                        this.relationship = relationship
                        this.identificationNo = identification_no
                        this.contactNo1 = contact_no1
                        this.contactNo2 = contact_no2
                        this.address1 = address1
                        this.address2 = address2
                        this.address3 = address3
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>