<template>
    <div style="height: 100%;">
        <v-container class="py-0" style="height: 85%;" >
            <v-row>
                <v-col cols="12">
                    <div style="height: 256px;">
                        <GmapMap style="width: 100%; height: 100%;" :zoom="15" :center="center" ref="map">
                            <GmapMarker :position="marker.latLng" :clickable="true" />
                        </GmapMap>
                    </div>
                </v-col>
                <v-col cols="12">
                    <a
                        v-if="image"
                        :href="image"
                        class="mr-0"
                        rel="noopener"
                        target="_blank" >
                        <v-img
                            :src="image"
                            :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                            aspect-ratio="1"
                            class="grey lighten-2"
                            style="width: 100%;height: 256px;margin: auto;"/>
                        </a>
                    <div v-else style="width: 150px;height: 150px;margin: auto;" />
                </v-col>
                <v-col cols="12">
                    <div style="display: flex" > 
                        <span style="width: 21%;color: #FFFFFF;">Address : </span>  
                        <span style="color: #FFFFFF;width: 79%;" >{{ address1 }}</span>
                    </div>
                </v-col>
            </v-row>
            <v-snackbar
                type="error"
                v-model="snackbar"
                top
                color="red" >
                {{ errorMessage }}
                <v-btn color="#FFFFFF" text @click="snackbar = false" >
                    Close
                </v-btn>
            </v-snackbar>
        </v-container>
    </div>
</template>

<script>
    import dayjs from 'dayjs'

    export default {
        name: 'CreaturePreview',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            center: { lat: 13.7893228, lng: 100.4568576 },
            marker: {
                latLng: {
                    lat: 13.7893228,
                    lng: 100.4568576
                }
            },
            image: null,
            address1: null
        }),
        mounted() {
            this.getMemberById()
        },
        methods: {
            async getMemberById () {
                if (this.$route.params.parent_id) {
                    
                    try {
                        await this.$store.dispatch('member/GET_MEMBER_BY_ID', this.$route.params.parent_id)

                        const { 
                            place_latitude,
                            place_longitude,
                            location_image_path,
                            location_image_name,
                            address1 } = this.$store.state.member.item

                        this.center = { lat: place_latitude * 1, lng: place_longitude * 1 },
                        this.marker = {
                            latLng: {
                                lat: place_latitude * 1,
                                lng: place_longitude * 1
                            }
                        }
                        this.image = location_image_path !== null && location_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + location_image_path + '/' + location_image_name : null
                        this.address1 = address1
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>