<template>
  <v-app>
    <dashboard-core-app-bar v-model="expandOnHover" />
    <dashboard-core-view />
  </v-app>
</template>

<script>
    export default {
        name: 'CreatureIndex',

        components: {
            DashboardCoreAppBar: () => import('../components/creature/AppBar'),
            DashboardCoreView: () => import('../components/creature/View')
        },
        data: () => ({
            expandOnHover: false
        })
    }
</script>
