<template>
    <div style="height: 100%;">
        <v-container class="py-0" style="height: 85%;" >
            <v-row>
                <v-col cols="12">
                    <a
                        v-if="creatureImage"
                        :href="creatureImage"
                        class="mr-0"
                        rel="noopener"
                        target="_blank" >
                        <v-img
                            :src="creatureImage"
                            :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                            aspect-ratio="1"
                            class="grey lighten-2"
                            style="width: 150px;height: 150px;margin: auto;"/>
                        </a>
                    <div v-else style="width: 150px;height: 150px;margin: auto;" />
                    
                </v-col>
                <v-col cols="12" >
                    <div style="color: #FFFFFF;" >Firstname: {{ firstName }}</div>
                    <div style="color: #FFFFFF;" >Lastname: {{ lastName }}</div>
                    <div style="color: #FFFFFF;" >Gender: {{ genderName }}</div>
                    <div style="color: #FFFFFF;" >Date of birth: {{ birthDate }}</div>
                    <div style="color: #FFFFFF;" >Blood type: {{ bloodTypeName }}</div>
                    <div style="color: #FFFFFF;" >Weight: {{ weight }}</div>
                    <div style="color: #FFFFFF;" >High: {{ height }}</div>
                    <div style="color: #FFFFFF;" >
                        Drug: 
                        <span :style="{ 'color' : drug === 'None' ? '#FFFFFF' : '#3BB9FF' }" @click="goToScreen('drug')" >{{ drug }} </span>
                    </div>
                    <div style="color: #FFFFFF;" >
                        Drug allergy: 
                        <span :style="{ 'color' : drugAllergy === 'None' ? '#FFFFFF' : '#3BB9FF' }" @click="goToScreen('drug-allergy')" >{{ drugAllergy }}</span>
                    </div>
                    <div style="color: #FFFFFF;" >
                        Food allergy: 
                        <span :style="{ 'color' : foodAllergy === 'None' ? '#FFFFFF' : '#3BB9FF' }" @click="goToScreen('food-allergy')" >{{ foodAllergy }}</span>
                    </div>
                </v-col>
            </v-row>
            <v-snackbar
                type="error"
                v-model="snackbar"
                top
                color="red" >
                {{ errorMessage }}
                <v-btn color="#FFFFFF" text @click="snackbar = false" >
                    Close
                </v-btn>
            </v-snackbar>
        </v-container>
        <div class="py-0" style="height: 15%;" >
            <div style="display: inline-block;width:100%;" >
                <span  @click="goToScreen('medical')" >
                    <img style="display: inline;width: 20%;height: 20%;" :src="require(`@/assets/medical.png`)" alt="" width="150" height="50" />
                </span>
                <span  @click="goToScreen('treatment-history')" >
                    <img style="display: inline;width: 20%;height: 20%;" :src="require(`@/assets/treatment.png`)" alt="" width="150" height="50" />
                </span>
                <span  @click="goToScreen('vaccine-book')" >
                    <img style="display: inline;width: 20%;height: 20%;" :src="require(`@/assets/vaccine.png`)" alt="" width="150" height="50" />
                </span>
                <span  @click="goToScreen('parent')" >
                    <img style="display: inline;width: 20%;height: 20%;" :src="require(`@/assets/parent.png`)" alt="" width="150" height="50" />
                </span>
                <span  @click="goToScreen('location')" >
                    <img style="display: inline;width: 20%;height: 20%;" :src="require(`@/assets/location.png`)" alt="" width="150" height="50" />
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    import dayjs from 'dayjs'

    export default {
        name: 'CreaturePreview',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            creatureImage: null,
            id: null,
            firstName: null,
            lastName: null,
            genderName: null,
            birthDate: null,
            bloodTypeName: null,
            drug: null,
            drugAllergy: null,
            foodAllergy: null,
            weight: null,
            height: null,
            parentId: null
        }),
        mounted() {
            this.getCreatureByQRCodeId()
        },
        methods: {
            async getCreatureByQRCodeId () {
                
                if (this.$route.params.creature_id) {
                    try {
                        await this.$store.dispatch('creature/GET_CREATURE_BY_QRCODE_ID', this.$route.params.creature_id)

                        const { 
                            id,
                            creatureImage, 
                            first_name,
                            last_name,
                            gender_name,
                            blood_type_name,
                            birth_date,
                            weight,
                            height,
                            member_id } = this.$store.state.creature.creature

                            
                        this.creatureImage = creatureImage ? process.env.VUE_APP_UPLOADS + '/' + creatureImage : null

                        this.id = id
                        this.firstName = first_name
                        this.lastName = last_name
                        this.weight = weight
                        this.height = height
                        this.genderName = gender_name
                        this.bloodTypeName = blood_type_name
                        this.birthDate = this.convertJSONDateToString(birth_date)
                        this.parentId = member_id

                        await this.$store.dispatch('drug/COUNT_DRUG_BY_CREATURE_ID', this.id)
                        await this.$store.dispatch('drugAllergy/COUNT_DRUG_ALLERGY_BY_CREATURE_ID', this.id)
                        await this.$store.dispatch('foodAllergy/COUNT_FOOD_ALLERGY_BY_CREATURE_ID', this.id)

                        this.drug = this.$store.state.drug.totalRecords === null || this.$store.state.drug.totalRecords <= 0  ? 'None' : this.$store.state.drug.totalRecords + (this.$store.state.drug.totalRecords > 1 ? ' items' : ' item')
                        this.drugAllergy = this.$store.state.drugAllergy.totalRecords === null || this.$store.state.drugAllergy.totalRecords <= 0  ? 'None' : this.$store.state.drugAllergy.totalRecords + (this.$store.state.drugAllergy.totalRecords > 1 ? ' items' : ' item')
                        this.foodAllergy = this.$store.state.foodAllergy.totalRecords === null || this.$store.state.foodAllergy.totalRecords <= 0  ? 'None' : this.$store.state.foodAllergy.totalRecords + (this.$store.state.foodAllergy.totalRecords > 1 ? ' items' : ' item')
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            goToScreen (screen) {
                if (screen === 'drug') this.$router.push(`/creature/${this.id}/drug`)
                if (screen === 'drug-allergy') this.$router.push(`/creature/${this.id}/drug-allergy`)
                if (screen === 'food-allergy') this.$router.push(`/creature/${this.id}/food-allergy`)
                if (screen === 'medical') this.$router.push(`/creature/${this.id}/medical`)
                if (screen === 'treatment-history') this.$router.push(`/creature/${this.id}/treatment-history`)
                if (screen === 'parent') this.$router.push(`/creature/${this.id}/parent/${this.parentId}`)
                if (screen === 'location') this.$router.push(`/creature/${this.id}/location/${this.parentId}`)
                if (screen === 'vaccine-book') this.$router.push(`/creature/${this.id}/vaccine-book`)
                
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>