<template>
    <v-app-bar 
        absolute 
        app
        color="transparent"
        flat
        height="75"
        style="width: auto;" >
        
        <v-btn
            fab
            small
            @click="$vuetify.breakpoint.smAndDown ? setDrawer(!drawer) : $emit('input', !value)" >
        
            <v-icon v-if="value">
                mdi-view-quilt
            </v-icon>

            <v-icon v-else>
                mdi-dots-vertical
            </v-icon>
        </v-btn>

        <v-toolbar-title class="hidden-sm-and-down" v-text="$route.meta.title" />

        <v-spacer />

        <div class="mx-3" />

        <v-btn min-width="0" text @click="logout" >
            <v-icon>mdi-logout-variant</v-icon>
        </v-btn>

    </v-app-bar>
</template>

<script>
  // Components
  import { VHover, VListItem } from 'vuetify/lib'

  // Utilities
  import { mapState, mapMutations } from 'vuex'

  export default {
    name: 'DashboardCoreAppBar',

    props: {
        value: {
            type: Boolean,
            default: false
        }
    },
    computed: {
      ...mapState('app', ['drawer'])
    },
    methods: {
        ...mapMutations({
                setDrawer: 'app/SET_DRAWER'
        }),
        logout () {
            this.$store.dispatch('admin/AUTH_LOGOUT').then(() => {
                this.$router.push('/admin/login')
            })
        }
    }
  }
</script>
