<template>
    <v-container fluid style="padding: 0px 12px;"> 
        <v-breadcrumbs :items="items" divider=">">
            <v-breadcrumbs-item
                slot="item"
                slot-scope="{ item }"
                exact
                :to="item.to">
                {{ item.text }}
            </v-breadcrumbs-item>
        </v-breadcrumbs>
    </v-container>
</template>

<script>
  export default {
    data: () => ({
        items: []
    }),
    mounted () {
        this.items = this.$router.currentRoute.matched.map((item, i) => ({ 
            text: !item.meta.subtitle ? item.meta.title : item.meta.subtitle,
            disabled: true, 
            to: item.name === 'dashboard' ? item.path : { name: item.name }
        }))
    },
    watch:{
        $route (to, from) {
            this.items = this.$router.currentRoute.matched.map((item, i) => ({ 
                text: !item.meta.subtitle ? item.meta.title : item.meta.subtitle,
                disabled: true,
                to: item.name === 'dashboard' ? item.path : { name: item.name }
            }))
        }
    } 
  }
</script>