<template>
    <v-navigation-drawer
        id="core-navigation-drawer"
        v-model="drawer"
        :dark="barColor !== 'rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)'"
        :expand-on-hover="expandOnHover"
        :right="$vuetify.rtl"
        :src="barImage"
        mobile-break-point="960"
        app
        width="260"
        v-bind="$attrs" >

        <template v-slot:img="props">
            <v-img :gradient="`to bottom, ${barColor}`" v-bind="props" />
        </template>

        <v-list-item two-line>
            <v-list-item-content>
                <v-list-item-title class="text-uppercase text-center font-weight-regular display-2">
                    <span class="logo-normal">QRCARE OFFICIAL</span>
                </v-list-item-title>
            </v-list-item-content>
        </v-list-item>

        <v-divider class="mb-1" />

        <v-list dense nav >
            <base-item-group :item="profileItemGrop" />
            <!-- <span class="logo-normal" style="padding-left: 15px!important">{{ firstName }} {{ lastName }}</span> -->
        </v-list>

        <v-divider class="mb-2" />

        <v-list expand nav >
            <!-- Style cascading bug  -->
            <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->
            <div />

            <template v-for="(item, i) in computedItems">
                <base-item-group
                    v-if="item.children"
                    :key="`group-${i}`"
                    :item="item" >

                </base-item-group>

                <base-item
                    v-else
                    :key="`item-${i}`"
                    :item="item" />
            </template>

            <!-- Style cascading bug  -->
            <!-- https://github.com/vuetifyjs/vuetify/pull/8574 -->

            <div />
        </v-list>

        <template v-slot:append>
            <v-list-item link @click="logout">
                <v-list-item-icon>
                    <v-icon>mdi-logout</v-icon>
                </v-list-item-icon>

                <v-list-item-content>
                    <v-list-item-title>Log out</v-list-item-title>
                </v-list-item-content>
            </v-list-item>
        </template>
    </v-navigation-drawer>
</template>

<script>
  // Utilities
    import { mapState } from 'vuex'

    export default {
        name: 'DashboardCoreDrawer',
        props: {
            expandOnHover: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            firstName: '',
            lastName: '',
            items: [
                // {
                //     icon: 'mdi-view-dashboard',
                //     title: 'dashboard',
                //     to: '/admin/dashboard'
                // },
                {
                    icon: 'mdi-qrcode',
                    title: 'qrcode-set',
                    to: '/admin/qrcode'
                },
                {
                    icon: 'mdi-qrcode-scan',
                    title: 'qrcode-item',
                    to: '/admin/qrcode-item'
                },
                {
                    icon: 'mdi-account-multiple',
                    title: 'member',
                    to: '/admin/member'
                },
                {
                    icon: 'mdi-human-child',
                    title: 'creature',
                    to: '/admin/creature'
                }
            ]
        }),
        async mounted  () {
            await this.$store.dispatch('admin/GET_PROFILE')
            this.firstName = this.profile.first_name
            this.lastName = this.profile.last_name
            
        },
        computed: {
            ...mapState('app', [ 'barColor', 'barImage' ]),
            ...mapState('admin', [ 'profile' ]),
            drawer: {
                get () {
                    return this.$store.state.app.drawer
                },
                set (val) {
                    this.$store.commit('app/SET_DRAWER', val)
                }
            },
            computedItems () {
                return this.items.map(this.mapItem)
            },
            profileItemGrop () {
                return {
                    avatar: false,
                    group: '',
                    title: this.firstName + ' ' + this.lastName,
                    children: [
                        {
                            to: 'admin/profile',
                            title: this.$t('my-profile')
                        }
                    ]
                }
            }
        },
        watch: {
            '$vuetify.breakpoint.smAndDown' (val) {
                this.$emit('update:expandOnHover', !val)
            }
        },

        methods: {
            mapItem (item) {
                return {
                    ...item,
                    children: item.children ? item.children.map(this.mapItem) : undefined,
                    title: this.$t(item.title)
                }
            },
            logout () {
                this.$store.dispatch('admin/AUTH_LOGOUT').then(() => {
                this.$router.push('/admin/login')
            })
        }
        }
    }
</script>

<style lang="sass">
    @import '~vuetify/src/styles/tools/_rtl.sass'

    #core-navigation-drawer
        &.v-navigation-drawer--mini-variant
            .v-list-item
                justify-content: flex-start !important

            .v-list-group--sub-group
                display: block !important

        .v-list-group__header.v-list-item--active:before
            opacity: .24

        .v-list-item
            &__icon--text,
            &__icon:first-child
                justify-content: center
                text-align: center
                width: 20px

                +ltr()
                    margin-right: 24px
                    margin-left: 12px !important

                +rtl()
                    margin-left: 24px
                    margin-right: 12px !important

        .v-list--dense
            .v-list-item
                &__icon--text,
                &__icon:first-child
                    margin-top: 10px

        .v-list-group--sub-group
            .v-list-item
                +ltr()
                    padding-left: 8px

                    +rtl()
                        padding-right: 8px

            .v-list-group__header
                +ltr()
                    padding-right: 0

                +rtl()
                    padding-right: 0

                .v-list-item__icon--text
                    margin-top: 19px
                    order: 0

                .v-list-group__header__prepend-icon
                    order: 2

                +ltr()
                    margin-right: 8px

                +rtl()
                    margin-left: 8px
</style>
