<template>
  <v-content>
    <breadcrumbs />
    <v-fade-transition mode="out-in">
      <router-view />
    </v-fade-transition>

    <dashboard-core-footer />
  </v-content>
</template>

<script>
  export default {
    name: 'DashboardCoreView',

    components: {
      Breadcrumbs: () => import('./Breadcrumbs'),
      DashboardCoreFooter: () => import('./Footer')
    }
  }
</script>
