<template>
    <div>
        <base-material-card icon="mdi-flask-empty">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Drug allergy
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" class="text-center" >
                            <input
                                ref="imageFile"
                                type="file"
                                class="d-none"
                                @change="onImageChange">

                            <v-card
                                :class="image ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                @click="$refs.imageFile.click()" >
                                
                                <v-img v-if="image" :src="image" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-file-image</v-icon>
                            </v-card>

                            <div class="font-weight-bold grey--text">
                                CHOOSE PICTURE
                            </div>
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="code" v-model="code" disabled />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="hospital name" v-model="hospitalName" :rules="hospitalNameRules" />
                        </v-col>
                        <v-col cols="12" md="12">
                            <v-textarea
                                class="purple-input"
                                label="description"
                                filled
                                v-model="description" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-menu
                                :close-on-content-click="false"
                                v-model="menu"
                                transition="scale-transition"
                                offset-y
                                :nudge-right="40"
                                max-width="290px"
                                min-width="290px"
                                class="v-menu_custom" >
                                
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-on="on"
                                        label="date"
                                        v-model="computedDateFormatted"
                                        append-icon="mdi-calendar"
                                        readonly />
                                </template>
                                <v-date-picker class="date-picker-custom" v-model="date" @input="menu = false" color="primary" />
                            </v-menu>
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="error" class="mr-1" @click="closeDialog = true" :loading="loading" :disabled="loading">
                                Delete
                            </v-btn>
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
                <base-material-snackbar
                    v-model="snackbar"
                    type="error"
                    v-bind="{
                        top: true,
                        center: true
                    }" >
                    <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
                </base-material-snackbar>
            </v-form>
            <v-dialog v-model="closeDialog" max-width="300" >
                <v-card>
                    <v-card-title>
                        Are you sure? 
                        <v-spacer />
                        <v-icon aria-label="Close" @click="closeDialog = false" >
                            mdi-close
                        </v-icon>
                    </v-card-title>

                    <v-card-text class="pb-6 pt-12 text-center">
                        <v-btn class="mr-3" text @click="closeDialog = false" >
                            No
                        </v-btn>

                        <v-btn color="success" text @click="deleteVaccine" >
                            Yes
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            menu: false,
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            loading: false, 
            code: null,
            id: null,
            image: null,
            imageId: null,
            oldImageId: null,
            isImageChange: false,
            hospitalName: null,
            description: null,
            date: null,
            hospitalNameRules: [
                (v) => !!v || 'Name is required'
            ]
        }),
        computed: {
            computedDateFormatted () {
                return this.formatDate(this.date)
            }
        },
        mounted() {
            this.getVaccineById()
        },
        methods: {
            async onImageChange (val) {
                const value = val.target.files[0]

                if (!value) return (this.image = null)

                const data = {
                    name: 'vaccine.js',
                    tag: 'vaccine-image',
                    type: value.type,
                    uri: value
                }
                
                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.imageId = result.id
                    this.image = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }

            },
            async getVaccineById () {
                if (this.$route.params.id) {

                    try {
                        await this.$store.dispatch('vaccine/GET_VACCINE_BY_ID', this.$route.params.vaccine_id)

                        const { 
                            id,
                            imageId,
                            image,
                            code,
                            hospital_name,
                            description, 
                            date,
                            create_by,
                            create_date,
                            edit_by,
                            edit_date } = this.$store.state.vaccine.vaccine
                        
                        this.id = id
                        this.image = image !== null ? process.env.VUE_APP_UPLOADS + '/' + image : null
                        this.imageId = imageId
                        this.oldImageId = imageId
                        this.code = code
                        this.description = description
                        this.hospitalName = hospital_name
                        this.date = dayjs(date).format('YYYY-MM-DD')
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const data = {
                        id: this.id,
                        hospitalName: this.hospitalName,
                        description: this.description,
                        date: dayjs(this.date, 'DD/MM/YYYY').format(),
                        imageId: this.imageId,
                        oldImageId: this.isImageChange ? this.oldImageId : null,
                    }
                    
                    try {
                        const result = await this.$store.dispatch('vaccine/UPDATE_VACCINE', data)
                        // this.$router.go(-1)
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                }
            },
            async deleteVaccine () {
                try {
                    const result = await this.$store.dispatch('vaccine/DELETE_VACCINE', this.id)
                    this.closeDialog = false
                    this.$router.go(-1)
                } catch (error) {
                    this.closeDialog = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            formatDate (date) {
                if (!date) return null
                return  dayjs(date, 'YYYY/MM/DD').format('DD/MM/YYYY') 
            }
        }
    }
</script>