<template>
    <div>
        <base-material-card icon="mdi-format-title">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Treatment history 
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" class="text-center" >
                            <input
                                ref="imageFile"
                                type="file"
                                class="d-none"
                                @change="onImageChange">

                            <v-card
                                :class="image ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                @click="$refs.imageFile.click()" >
                                
                                <v-img v-if="image" :src="image" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-file-image</v-icon>
                            </v-card>

                            <div class="font-weight-bold grey--text">
                                CHOOSE PICTURE
                            </div>
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="code" v-model="code" disabled />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-select 
                                v-model="department" 
                                :items="departmentSelectItems" 
                                label="department" 
                                item-value="id"
                                item-text="name"
                                :rules="departmentRules" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-select 
                                v-model="fileCategory" 
                                :items="fileCategorySelectItems" 
                                label="file category" 
                                item-value="id"
                                item-text="name"
                                :rules="fileCategoryRules" />
                        </v-col>
                        <v-col v-if="fileCategory === 5" cols="12" md="12" >
                            <v-text-field label="other" v-model="fileCategoryOther" :rules="fileCategoryOtherRules" />
                        </v-col>
                        <v-col cols="12" md="12">
                            <v-textarea
                                class="purple-input"
                                label="description"
                                filled
                                v-model="description" />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="error" class="mr-1" @click="closeDialog = true" :loading="loading" :disabled="loading">
                                Delete
                            </v-btn>
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" class="text-center" >
                            <input
                                ref="imageListItemFile"
                                type="file"
                                class="d-none"
                                @change="onImageListItemChange">

                            <v-card
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                @click="$refs.imageListItemFile.click()" >
                                
                                <v-img v-if="imageListItem" :src="imageListItem" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-file-image</v-icon>
                            </v-card>

                            <div class="font-weight-bold grey--text">
                                <v-btn 
                                    color="primary" 
                                    class="mx-0 font-weight-light" 
                                     
                                    @click="addImageListItem" 
                                    style="padding: 0px"
                                    :disabled="!imageListItem" >
                                <v-icon dark left>mdi-magnify</v-icon>
                                Add Image
                            </v-btn>
                            </div>
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12">
                            <v-card>
                                <v-container fluid>
                                    <v-row>
                                        <v-col 
                                            v-for="image in imageList"
                                            :key="image.id"
                                            cols="4"
                                            align="center" >
                                            <v-card flat tile class="d-flex">
                                                <base-image
                                                    :src="`${imageURL}/${image.path}/${image.name}`"
                                                    :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`" />

                                               
                                            </v-card>
                                            
                                            <v-btn icon large color="green" class="mx-0 font-weight-light" @click="imageBlank(`${imageURL}/${image.path}/${image.name}`)" >
                                                <v-icon dark left>mdi-file-find</v-icon>
                                            </v-btn>

                                            <v-btn icon large color="red" class="mx-0 font-weight-light" @click="imageDialog = true; imageListSelectId = image.id" >
                                                <v-icon dark left>mdi-delete</v-icon>
                                            </v-btn>

                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card>
                        </v-col>
                    </v-row>
                </v-container>
                <base-material-snackbar
                    v-model="snackbar"
                    type="error"
                    v-bind="{
                        top: true,
                        center: true
                    }" >
                    <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
                </base-material-snackbar>
            </v-form>
            <v-dialog v-model="closeDialog" max-width="300" >
                <v-card>
                    <v-card-title>
                        Are you sure? 
                        <v-spacer />
                        <v-icon aria-label="Close" @click="closeDialog = false" >
                            mdi-close
                        </v-icon>
                    </v-card-title>

                    <v-card-text class="pb-6 pt-12 text-center">
                        <v-btn class="mr-3" text @click="closeDialog = false" >
                            No
                        </v-btn>

                        <v-btn color="success" text @click="deleteTreatmentHistory" >
                            Yes
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>
        <v-dialog v-model="imageDialog" max-width="300" >
            <v-card>
                <v-card-title>
                    Are you sure? 
                    <v-spacer />
                    <v-icon aria-label="Close" @click="imageDialog = false" >
                        mdi-close
                    </v-icon>
                </v-card-title>

                <v-card-text class="pb-6 pt-12 text-center">
                    <v-btn class="mr-3" text @click="imageDialog = false" >
                        No 
                    </v-btn>

                    <v-btn color="success" text @click="deleteTreatmentHistoryImage" >
                        Yes
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            imageURL: process.env.VUE_APP_UPLOADS,
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            imageDialog: false,
            loading: false, 
            code: null,
            id: null,
            image: null,
            imageId: null,
            oldImageId: null,
            isImageChange: false,
            imageListItem: null,
            imageListItemValue: null,
            imageListSelectId: null,
            department: null,
            fileCategory: null,
            fileCategoryOther: null,
            description: null,
            imageList: [],
            departmentSelectItems: [
                { name: 'Medicine', id: 1 },
                { name: 'Ear nose throat', id: 2 },
                { name: 'Teeth', id: 3 },
                { name: 'Endocrine system', id: 4 },
                { name: 'Heart', id: 5 },
                { name: 'Lung', id: 6 },
                { name: 'Liver', id: 7 },
                { name: 'Kidney', id: 8 },
                { name: 'Bone & Joint', id: 9 }
            ],
            fileCategorySelectItems: [
                { name: '-Check up', id: 1 },
                { name: '-X ray', id: 2 },
                { name: '-MRI / CT scan', id: 3 },
                { name: '-Test  result', id: 4 },
                { name: '-Other', id: 5 }
            ],
            departmentRules: [
                (v) => !!v || 'Department is required'
            ],
            fileCategoryRules: [
                (v) => !!v || 'File category is required'
            ],
            fileCategoryOtherRules: [
                (v) => !!v || 'Other is required'
            ]

        }),
        mounted() {
            this.getTreatmentHistoryById()
        },
        methods: {
            async onImageChange (val) {
                const value = val.target.files[0]

                if (!value) return (this.image = null)

                const data = {
                    name: 'treatment-history.js',
                    tag: 'treatment-history-image',
                    type: value.type,
                    uri: value
                }
                
                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.imageId = result.id
                    this.image = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }

            },
            onImageListItemChange (val) {
                const value = val.target.files[0]
                
                if (!value) {
                    this.imageListItem = null
                    this.imageListItemValue = null
                    return 
                }
                if (!value.type.match(/\/(jpg|jpeg|png|gif)$/)) { 
                    this.imageListItem = null
                    this.imageListItemValue = null
                    return 
                }

                this.imageListItem = URL.createObjectURL(value)
                this.imageListItemValue = value
            },
            async addImageListItem () {
                
                const data = {
                    refId: this.$route.params.treatment_history_id,
                    name: 'treatment-history.js',
                    tag: 'treatment-history-image-list',
                    type: this.imageListItemValue.type,
                    uri: this.imageListItemValue
                }

                const result = await this.$store.dispatch('file/ADD_FILE', data)

                this.imageListItem = null
                this.imageListItemValue = null
                this.getImageList()
            },
            async getTreatmentHistoryById () {
                if (this.$route.params.id) {

                    try {
                        await this.$store.dispatch('treatmentHistory/GET_TREATMENT_HISTORY_BY_ID', this.$route.params.treatment_history_id)

                        const { 
                            id,
                            imageId,
                            image,
                            code,
                            department,
                            file_category,
                            file_category_other,
                            description,
                            create_by,
                            create_date,
                            edit_by,
                            edit_date } = this.$store.state.treatmentHistory.treatmentHistory

                        this.id = id
                        this.image = image !== null ? process.env.VUE_APP_UPLOADS + '/' + image : null
                        this.imageId = imageId
                        this.oldImageId = imageId
                        this.code = code
                        this.department = department
                        this.fileCategory = file_category
                        this.fileCategoryOther = file_category_other
                        this.description = description

                        this.getImageList()
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async getImageList() {
                const data = {
                    offset: 0,
                    limit: 1000,
                    refId: this.$route.params.treatment_history_id,
                    tag: 'treatment-history-image-list'
                }

                const result = await this.$store.dispatch('file/GET_FILE_LIST', data)
                this.imageList = result.items
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const data = {
                        id: this.id,
                        department: this.department,
                        fileCategory: this.fileCategory,
                        fileCategoryOther: this.fileCategoryOther,
                        description: this.description,
                        imageId: this.imageId,
                        oldImageId: this.isImageChange ? this.oldImageId : null,
                    }

                    try {
                        const result = await this.$store.dispatch('treatmentHistory/UPDATE_TREATMENT_HISTORY', data)
                        this.$router.go(-1)
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                }
            },
            async deleteTreatmentHistory () {
                try {
                    const result = await this.$store.dispatch('treatmentHistory/DELETE_TREATMENT_HISTORY', this.id)
                    this.closeDialog = false
                    this.$router.go(-1)
                } catch (error) {
                    this.closeDialog = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            async deleteTreatmentHistoryImage () {
                this.imageDialog = false
                try {
                    const result = await this.$store.dispatch('file/DELETE_FILE', this.imageListSelectId)

                    this.imageList = this.imageList.filter(image => image.id !== this.imageListSelectId)
                } catch (error) {
                    this.closeDialog = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            imageBlank (imageUrl) {
                window.open(imageUrl, '_blank')
            }
        }
    }
</script>