<template>
    <v-row>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="department" 
                v-model="department" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="file category" 
                v-model="fileCategory" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <base-date-mask :dateChangeParent="dateChangeParent" label="create date" />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn color="primary" class="mx-0 font-weight-light" dark block @click="search" style="padding: 0px" >
                <v-icon dark left>mdi-magnify</v-icon>
                ค้นหา
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { mapMutations } from 'vuex'

    export default {
        name: 'TreatmentHistorySearchBar',
        data: () => ({
            department: null,
            fileCategory: null,
            createDate: null
        }),
        mounted() {
            this.getTreatmentHistoryList(0)
        },
        methods: {
            ...mapMutations({
                setDepartmentCriteria: 'treatmentHistory/SET_DEPARTMENT_CRITERIA',
                setFileCategoryCriteria: 'treatmentHistory/SET_CREATE_DATE_CRITERIA',
                setCreateDateCriteria: 'treatmentHistory/SET_CREATE_DATE_CRITERIA',
                setPageCriteria: 'treatmentHistory/SET_PAGE_CRITERIA',
            }),
            dateChangeParent(value) {
                this.createDate = value
            },
            async search() {

                const data = {
                    creatureId: this.$route.params.id,
                    departmentCriteria: this.department,
                    fileCategoryCriteria: this.fileCategory,
                    createDateCriteria: this.createDate,
                    offset: 0,
                    limit: 10
                }
                
                try {
                    const result = await this.$store.dispatch('treatmentHistory/GET_TREATMENT_HISTORY_LIST', data)
                    this.setDepartmentCriteria(this.department)
                    this.setFileCategoryCriteria(this.department)
                    this.setCreateDateCriteria(this.createDate)
                    this.setPageCriteria(1)
                } catch (error) {

                }
            },
            async getTreatmentHistoryList (page) {
                const data = {
                    creatureId: this.$route.params.id,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('treatmentHistory/GET_TREATMENT_HISTORY_LIST', data)
                    
                    this.setDepartmentCriteria(null)
                    this.setFileCategoryCriteria(null)
                    this.setCreateDateCriteria(null)
                    this.setPageCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>