<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="treatmentHistoryList"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <!-- <td v-text="item.code" /> -->
                    <td v-text="item.department_name" />
                    <td v-text="item.file_category_name" />
                    <td v-text="convertJSONDateToString(item.create_date)">
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'treatment-history-edit', params: { treatment_history_id: item.id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalRecords"
            circle />
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'TreatmentHistoryTableList',
        data: () => ({
            headers: [
                // {
                //     text: 'Code',
                //     value: 'code',
                //     width: '10%'
                // },
                {
                    text: 'Department',
                    value: 'department_name',
                    width: '15%'
                },
                {
                    text: 'File category',
                    value: 'file_category_name',
                    width: '15%'
                },
                {
                    text: 'Create date',
                    value: 'create_date',
                    width: '15%'
                },
                {
                    sortable: false,
                    text: '#',
                    width: '15%',
                    value: 'action'
                }
            ],
            search: undefined
        }),
        computed: {
            ...mapState('treatmentHistory', [ 'textCriteria', 'dateCriteria', 'treatmentHistoryList', 'totalRecords', 'isLoading' ]),
            page : {
                get () {
                    return this.$store.state.treatmentHistory.pageCriteria
                },
                set (val) {
                    this.$store.commit('treatmentHistory/SET_PAGE_CRITERIA', val)
                }
            }
        },
        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },
        watch: {
            async page () {
                // console.log(this.page)
                await this.getTreatmentHistoryList(this.page - 1)
            }
        },
         methods: {
            async getTreatmentHistoryList (page) {
                
                const data = {
                    creatureId: this.$route.params.id,
                    departmentCriteria: this.$store.state.treatmentHistory.departmentCriteria,
                    fileCategoryCriteria: this.$store.state.treatmentHistory.fileCategoryCriteria,
                    createDateCriteria: this.$store.state.treatmentHistory.createDateCriteria,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('treatmentHistory/GET_TREATMENT_HISTORY_LIST', data)

                } catch (error) {
                    console.log('error', error)
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
         }
    }
</script>
