<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Profile
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" md="6" >
                            <v-text-field label="first name" v-model="firstName" :rules="firstNameRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="last name" v-model="lastName" :rules="lastNameRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="username" v-model="username" disabled />
                        </v-col>
                        <v-col cols="9" md="4" >
                            <v-text-field label="password" v-model="password" type="password" />
                        </v-col>
                        <v-col cols="3" md="2" class="align-self-center" >
                            <v-btn 
                                color="primary" 
                                block class="mx-0 font-weight-light" 
                                @click="changePassword" 
                                style="padding: 0px"
                                :loading="loading" 
                                :disabled="loading" >
                                <v-icon dark left>mdi-textbox-password</v-icon>
                                change
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-select 
                                v-model="gender" 
                                :items="genderSelectItems" 
                                label="gender" 
                                item-value="id"
                                item-text="name"
                                :rules="genderRules" />
                        </v-col>
                         <v-col cols="12" md="6" >
                            <v-text-field label="edit date" v-model="editDate" disabled />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
            <base-material-snackbar
                v-model="snackbar"
                type="error"
                v-bind="{
                    top: true,
                    center: true
                }" >
                <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
            </base-material-snackbar>
        </base-material-card>
    </div>
</template>

<script>
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            menu: false,
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            loading: false, 
            firstName: null,
            lastName: null,
            gender: null,
            username: null,
            password: null,
            editDate: null,
            genderSelectItems: [
                { id: 1, name: 'male' },
                { id: 2, name: 'female' }
            ],
            firstNameRules: [
                (v) => !!v || 'First name is required'
            ],
            lastNameRules: [
                (v) => !!v || 'Last name is required'
            ],
            genderRules: [
                (v) => !!v || 'Gender is required'
            ]
        }),
        mounted() {
            this.getProfile()
            
        },
        methods: {
            async getProfile () {
                try {
                    await this.$store.dispatch('admin/GET_PROFILE')
                    const { first_name, last_name, username, gender, edit_date } = this.$store.state.admin.profile
                    this.firstName = first_name
                    this.lastName = last_name
                    this.username = username
                    this.gender = gender
                    this.editDate = this.convertJSONDateToString(edit_date)
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            isNumber (evt) {
                evt = (evt) ? evt : window.event
                var charCode = (evt.which) ? evt.which : evt.keyCode
                
                if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                    evt.preventDefault()
                } else {
                    return true
                }
            },
            onPaste (evt) {
                evt.preventDefault()
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    const data = {
                        id: this.id,
                        firstName: this.firstName,
                        lastName: this.lastName,
                        gender: this.gender
                    }

                    try {
                        const result = await this.$store.dispatch('admin/UPDATE_PROFILE', data)
                        location.reload()
                        this.loading = false
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                        this.loading = false
                    }
                }
            },
            async changePassword () {
                 try {
                    if (this.password === null || this.password.trim().length === 0) {
                        this.snackbar = true
                        this.errorMessage = 'Password should be between 6-30'
                        return
                    }

                    this.loading = true
                    const result = await this.$store.dispatch('admin/CHANGE_PASSWORD', { newPassword: this.password })
                    this.password = null
                    this.loading = false
                } catch (error) {
                    this.closeDialog = false
                    this.loading = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            }
        }
    }
</script>