<template>
    <v-container class="py-0" style="height: 100%;" >
        <v-row>
            <v-col cols="12">
                <div style="color: #FFFFFF;text-align: center;font-size: 35px;" >MEDICAL INFO</div>
            </v-col>
            <v-col cols="12" >
                <div style="color: #FFFFFF;" >Hospital: {{ hospitalName }}</div>
                <div style="color: #FFFFFF;" >
                    Hospital Tel: 
                    <a :href="`tel:${hospitalTel}`" style="text-decoration: none;">
                        <span style="color: #3BB9FF;">{{ hospitalTel }}</span>
                    </a>
                </div>
                <div style="color: #FFFFFF;" >Patient ID: {{ patientId }}</div>
                <div style="color: #FFFFFF;" >Blood type: {{ bloodType }}</div>
                <div style="color: #FFFFFF;" >Name of doctor: {{ doctorName }}</div>
                <div style="color: #FFFFFF;" >
                    Contact No of doctor: 
                    <a :href="`tel:${doctorContactNo}`" style="text-decoration: none;">
                        <span style="color: #3BB9FF;">{{ doctorContactNo }}</span>
                    </a>
                </div>
                <div style="color: #FFFFFF;" >Congenital disorder: {{ congenitalDisorder }}</div>
                <div style="color: #FFFFFF;" >
                    Drug: 
                    <span :style="{ 'color' : drug === 'None' ? '#FFFFFF' : '#3BB9FF' }" @click="goToScreen('drug')" >{{ drug }} </span>
                </div>
                <div style="color: #FFFFFF;" >
                    Drug allergy: 
                    <span :style="{ 'color' : drugAllergy === 'None' ? '#FFFFFF' : '#3BB9FF' }" @click="goToScreen('drug-allergy')" >{{ drugAllergy }}</span>
                </div>
                <div style="color: #FFFFFF;" >
                    Food allergy: 
                    <span :style="{ 'color' : foodAllergy === 'None' ? '#FFFFFF' : '#3BB9FF' }" @click="goToScreen('food-allergy')" >{{ foodAllergy }}</span>
                </div>
                <div style="color: #FFFFFF;display: flex;margin: auto;" >
                    Birth certificate: 
                    <a v-if="birthCertificateImage" :href="birthCertificateImage" class="mr-0" rel="noopener" target="_blank" >
                        <img style="display: inline;width: 30px;height: 30px" :src="require(`@/assets/green_light.png`)" />
                    </a>
                    <img v-else style="display: inline;width: 30px;height: 30px" :src="require(`@/assets/none_light.png`)" />
                </div>
            </v-col>
        </v-row>
        <v-snackbar
            type="error"
            v-model="snackbar"
            top
            color="red" >
            {{ errorMessage }}
            <v-btn color="#FFFFFF" text @click="snackbar = false" >
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import dayjs from 'dayjs'
    import lodash from 'lodash'

    export default {
        name: 'CreaturePreview',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            hospitalName: null,
            hospitalTel: null,
            patientId: null,
            bloodType: null,
            doctorName: null,
            doctorContactNo: null,
            congenitalDisorder: null,
            drug: null,
            drugAllergy: null,
            foodAllergy: null,
            birthCertificateImage: null
        }),
        mounted() {
            this.getMedicalByCreatureId()
        },
        methods: {
            async getMedicalByCreatureId () {
                if (this.$route.params.creature_id) {

                    try {
                        await this.$store.dispatch('medical/GET_MEDICAL_BY_CREATURE_ID', this.$route.params.creature_id)
                        await this.$store.dispatch('drug/COUNT_DRUG_BY_CREATURE_ID', this.$route.params.creature_id)
                        await this.$store.dispatch('drugAllergy/COUNT_DRUG_ALLERGY_BY_CREATURE_ID', this.$route.params.creature_id)
                        await this.$store.dispatch('foodAllergy/COUNT_FOOD_ALLERGY_BY_CREATURE_ID', this.$route.params.creature_id)

                        if(typeof this.$store.state.medical.medical === 'undefined') return

                        const { 
                            hospital_name,
                            hospital_tel,
                            patient_id,
                            blood_type,
                            doctor_name,
                            doctor_contact_no,
                            congenital_disorder,
                            birth_certificate_image_path,
                            birth_certificate_image_name } = this.$store.state.medical.medical

                        this.hospitalName = hospital_name 
                        this.hospitalTel = hospital_tel 
                        this.patientId = patient_id
                        this.bloodType = blood_type
                        this.doctorName = doctor_name
                        this.doctorContactNo = doctor_contact_no
                        this.congenitalDisorder = congenital_disorder

                        this.drug = this.$store.state.drug.totalRecords === null || this.$store.state.drug.totalRecords <= 0  ? 'None' : this.$store.state.drug.totalRecords + (this.$store.state.drug.totalRecords > 1 ? ' items' : ' item')
                        this.drugAllergy = this.$store.state.drugAllergy.totalRecords === null || this.$store.state.drugAllergy.totalRecords <= 0  ? 'None' : this.$store.state.drugAllergy.totalRecords + (this.$store.state.drugAllergy.totalRecords > 1 ? ' items' : ' item')
                        this.foodAllergy = this.$store.state.foodAllergy.totalRecords === null || this.$store.state.foodAllergy.totalRecords <= 0  ? 'None' : this.$store.state.foodAllergy.totalRecords + (this.$store.state.foodAllergy.totalRecords > 1 ? ' items' : ' item')

                        this.birthCertificateImage = birth_certificate_image_path !== null && birth_certificate_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + birth_certificate_image_path + '/' + birth_certificate_image_name : null
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            goToScreen (screen) {
                if (screen === 'drug') this.$router.push(`/creature/${this.$route.params.creature_id}/drug`)
                if (screen === 'drug-allergy') this.$router.push(`/creature/${this.$route.params.creature_id}/drug-allergy`)
                if (screen === 'food-allergy') this.$router.push(`/creature/${this.$route.params.creature_id}/food-allergy`)
                if (screen === 'medical') this.$router.push(`/creature/${this.$route.params.creature_id}/medical`)
            }
        }
    }
</script>