<template>
    <div>
        <v-app-bar absolute app color="#000000" flat height="60" style="width: auto;" >
            <v-container >
                <v-row align="center">
                    <div class="body-2 font-weight-light" style="color: #FFFFFF;">
                        <v-img :src="require(`@/assets/header_logo.jpg`)" width="150" height="50" @click="onBack()" />
                    </div>
                </v-row>
            </v-container>
        </v-app-bar>
    </div>
</template>

<script>
    export default {
        name: 'CreatureView',
        methods: {
            onBack () {
                this.$router.go(-1)
            }
        }

    }
</script>