<template>
    <v-footer id="dashboard-core-footer" style="height: 10px;background: #000000;" >

    </v-footer>
</template>

<script>
  export default {
    name: 'DashboardCoreFooter',

    data: () => ({

    }),
  }
</script>

<style lang="sass">
    #dashboard-core-footer
        a
        color: #3c4858
        font-size: .825rem
        font-weight: 500
        text-decoration: none
        text-transform: uppercase
</style>
