<template>
    <v-content style="background-color: #000000;" >
        <v-fade-transition mode="out-in">
            <router-view />
        </v-fade-transition>
    </v-content>
</template>

<script>
    export default {
        name: 'CreatureView',
        components: {
            DashboardCoreFooter: () => import('./Footer'),
        },
    }
</script>
