<template>
    <div>
        <base-material-card icon="mdi-food-off">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Food allergy
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" class="text-center" >
                            <input
                                ref="imageFile"
                                type="file"
                                class="d-none"
                                @change="onImageChange">

                            <v-card
                                :class="image ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                @click="$refs.imageFile.click()" >
                                
                                <v-img v-if="image" :src="image" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-file-image</v-icon>
                            </v-card>

                            <div class="font-weight-bold grey--text">
                                CHOOSE PICTURE
                            </div>
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="code" v-model="code" disabled />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="name" v-model="name" :rules="nameRules" />
                        </v-col>
                        <v-col cols="12" md="12">
                            <v-textarea
                                class="purple-input"
                                label="description"
                                filled
                                v-model="description" />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="error" class="mr-1" @click="closeDialog = true" :loading="loading" :disabled="loading">
                                Delete
                            </v-btn>
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
                <base-material-snackbar
                    v-model="snackbar"
                    type="error"
                    v-bind="{
                        top: true,
                        center: true
                    }" >
                    <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
                </base-material-snackbar>
            </v-form>
            <v-dialog v-model="closeDialog" max-width="300" >
                <v-card>
                    <v-card-title>
                        Are you sure? 
                        <v-spacer />
                        <v-icon aria-label="Close" @click="closeDialog = false" >
                            mdi-close
                        </v-icon>
                    </v-card-title>

                    <v-card-text class="pb-6 pt-12 text-center">
                        <v-btn class="mr-3" text @click="closeDialog = false" >
                            No
                        </v-btn>

                        <v-btn color="success" text @click="deleteFoodAllergy" >
                            Yes
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            loading: false, 
            code: null,
            id: null,
            image: null,
            imageId: null,
            oldImageId: null,
            isImageChange: false,
            name: null,
            description: null,
            nameRules: [
                (v) => !!v || 'Name is required'
            ]
        }),
        mounted() {
            this.getFoodAllergyById()
        },
        methods: {
            async onImageChange (val) {
                const value = val.target.files[0]

                if (!value) return (this.image = null)

                const data = {
                    name: 'food-allergy.js',
                    tag: 'food-allergy-image',
                    type: value.type,
                    uri: value
                }
                
                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.imageId = result.id
                    this.image = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }

            },
            async getFoodAllergyById () {
                if (this.$route.params.id) {
                    
                    try {
                        await this.$store.dispatch('foodAllergy/GET_FOOD_ALLERGY_BY_ID', this.$route.params.food_allergy_id)

                        const { 
                            id,
                            imageId,
                            image,
                            code,
                            name,
                            description,
                            create_by,
                            create_date,
                            edit_by,
                            edit_date } = this.$store.state.foodAllergy.foodAllergy

                        this.id = id
                        this.image = image !== null ? process.env.VUE_APP_UPLOADS + '/' + image : null
                        this.imageId = imageId
                        this.oldImageId = imageId
                        this.code = code
                        this.name = name
                        this.description = description
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const data = {
                        id: this.id,
                        name: this.name,
                        description: this.description,
                        imageId: this.imageId,
                        oldImageId: this.isImageChange ? this.oldImageId : null,
                    }

                    try {
                        const result = await this.$store.dispatch('foodAllergy/UPDATE_FOOD_ALLERGY', data)
                        this.$router.go(-1)
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                }
            },
            async deleteFoodAllergy () {
                try {
                    const result = await this.$store.dispatch('foodAllergy/DELETE_FOOD_ALLERGY', this.id)
                    this.closeDialog = false
                    this.$router.go(-1)
                } catch (error) {
                    this.closeDialog = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
        }
    }
</script>