<template>
    <v-menu
        :close-on-content-click="false"
        v-model="menu"
        transition="scale-transition"
        offset-y
        :nudge-right="40"
        max-width="290px"
        min-width="290px"
        class="v-menu_custom" >
        
        <template v-slot:activator="{ on }">
            <v-text-field
                v-on="on"
                :label="label"
                v-model="computedDateFormatted"
                :append-icon="appendIcon"
                :outlined="outlined"
                readonly
                :persistent-hint="persistentHint"
                :hint="hint" />
        </template>
        <v-date-picker class="date-picker-custom" v-model="value" @input="menu = false"  color="primary" />
    </v-menu>
</template>

<script>
    import dayjs from 'dayjs'
    
    export default {
        inheritAttrs: false,
        props: {
            label: {
                type: String
            },
            appendIcon: {
                type: String,
                default: 'mdi-calendar'
            },
            dateChangeParent: {
                type: Function,
            },
            date: {
                type: String,
                default: new dayjs().format('YYYY-MM-DD')
            },
            outlined: {
                type: Boolean,
                default: false
            },
            hint: {
                type: String
            },
            persistentHint: {
                type: Boolean,
                default: false
            }
        },
        data: () => ({
            value: dayjs().format('YYYY-MM-DD'),
            menu: false,
            modal: false
        }),
        computed: {
            computedDateFormatted () {
                return this.formatDate(this.value)
            }
        },
        mounted () {
            this.value = this.date
            this.dateChangeParent(this.exportDate(this.value))
        },
        watch: {
            value () {
                this.dateChangeParent(this.exportDate(this.value))
            }
        },
        methods: {
            formatDate (date) {
                if (!date) return null
                const [year, month, day] = date.split('-')
                return `${day}/${month}/${year}`
            },
            exportDate(date) {
                if (!this.value) return null
                    const [year, month, day] = this.value.split('-')
                    return `${parseInt(year)}-${month}-${day}`
            }
        }
    }
</script>
