<template>
    <v-text-field
        v-model="value"
        :append-icon="appendIcon"
        clear-icon="mdi-close-circle"
        clearable
        :label="label"
        v-mask="mask"
        :placeholder="placeholder"
        type="text" />
</template>

<script>
    import moment from 'moment'
    import { mask } from 'vue-the-mask'

    export default {
        inheritAttrs: false,
        props: {
            label: {
                type: String
            },
            placeholder: {
                type: String,
                default: 'dd/mm/yyyy'
            },
            appendIcon: {
                type: String,
                default: 'mdi-calendar'
            },
            dateChangeParent: {
                type: Function,
            }
        },
        directives: {
            mask
        },
        data: () => ({
            mask: '##/##/####',
            value: null
        }),
        watch: {
            value() {
                // console.log('value', this.value)
                if (moment(this.value, 'DD/MM/YYYY').format('DD/MM/YYYY') === this.value) {
                    this.dateChangeParent(moment(this.value, 'DD/MM/YYYY').format('YYYY/MM/DD'))
                } else {
                    this.dateChangeParent(null)
                }
            }
        }
    }
</script>