<template>
    <v-img
        :src="error ? require(`@/assets/image_not_found.png`) : src"
        :lazy-src="lazySrc"
        @error="imageError"
        aspect-ratio="1"
        class="grey lighten-2" >

        <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center" >
                <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
            </v-row>
        </template>
    </v-img>
</template>

<script>
    export default {
        inheritAttrs: false,
        props: {
            src: {
                type: String,
                required: true
            },
            lazySrc: {
                type: String,
                default: `https://picsum.photos/10/6?image=${1 * 5 + 10}`
            }
        },
        data: () => ({
            error: null
        }),
        methods: {
            imageError (e) {
                this.error = true
            }
        }
    }
</script>