<template>
    <v-text-field
        v-model="message"
        :append-icon="appendIcon"
        clear-icon="mdi-close-circle"
        clearable
        :label="label"
        :placeholder="placeholder"
        type="text"
        @click:append="search"
        @click:clear="clearMessage" />
</template>

<script>
    export default {
        inheritAttrs: false,
        props: {
            label: {
                type: String,
                default: 'ค้นหา'
            },
            placeholder: {
                type: String,
                default: ''
            },
            appendIcon: {
                type: String,
                default: 'mdi-magnify'
            },
            searchParent: { 
                type: Function
            },
            // textChangeParent: { 
            //     type: Function
            // }
        },
        data: () => ({
            message: null
        }),
        // mounted() {
        //    this.message = this.value
        // },
        // updated() {
        //    this.message = this.value
        // },
        computed: {
        },
        watch: {
            message() {
                // this.textChangeParent(this.message)
            }
        },
        methods: {
            search() {
                this.searchParent(this.message)
            },
            sendMessage () {
                this.clearMessage()
            },
            clearMessage () {
                this.message = null
            }
        }
    }
</script>