<template>
    <v-container class="py-0" >
        <v-row>
            <v-col cols="12">
                <a
                    v-if="image"
                    :href="image"
                    class="mr-0"
                    rel="noopener"
                    target="_blank" >
                    <v-img
                        :src="image"
                        :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                        aspect-ratio="1"
                        class="grey lighten-2"
                        style="width: 150px;height: 150px;margin: auto;"/>
                    </a>
                <div v-else style="width: 150px;height: 150px;margin: auto;" />
            </v-col>
            <v-col cols="12">
                <div style="color: #FFFFFF;" >Hospital: {{ hospitalName }}</div>
                <div style="color: #FFFFFF;font-size: 12px;" >Date: {{ date }}</div>
                <div style="color: #FFFFFF;font-size: 12px;text-align: center;word-wrap: break-word;" >{{ description }}</div>
            </v-col>
        </v-row>
        <v-snackbar
            type="error"
            v-model="snackbar"
            top
            color="red" >
            {{ errorMessage }}
            <v-btn color="#FFFFFF" text @click="snackbar = false" >
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import dayjs from 'dayjs'

    export default {
        name: 'DrugInfo',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            image: null,
            hospitalName: null,
            date: null,
            description: null
        }),
        mounted() {
            this.getFoodAllergyById()
        }, 
        methods: {
            async getFoodAllergyById () {
                if (this.$route.params.vaccine_id) {

                    try {
                        await this.$store.dispatch('vaccine/GET_VACCINE_BY_ID', this.$route.params.vaccine_id)

                        const { image, hospital_name, date, description } = this.$store.state.vaccine.vaccine

                        this.image = image !== null ? process.env.VUE_APP_UPLOADS + '/' + image : null
                        this.hospitalName = hospital_name
                        this.date = this.convertJSONDateToString(date)
                        this.description = description
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>
