<template>
    <div style="height: 100%;">
        <v-container class="py-0" >
            <v-row>
                <v-col cols="12" >
                    <div style="color: #FFFFFF;" >Vaccine name: {{ vaccineTypeName }} </div>
                    <div v-if="other" style="color: #FFFFFF;font-size: 12px;" >Other : {{ other }}</div>
                </v-col>
            </v-row>
            <v-snackbar
                type="error"
                v-model="snackbar"
                top
                color="red" >
                {{ errorMessage }}
                <v-btn color="#FFFFFF" text @click="snackbar = false" >
                    Close
                </v-btn>
            </v-snackbar>
        </v-container>
        <v-container class="py-0" style="height: 90%;border: 1px solid;" >
            <v-card
                elevation="24"
                max-width="444"
                class="mx-auto"
                style="height: 92%;background-color: #000000;" >
                <v-carousel
                    :continuous="false"
                    :show-arrows="false"
                    hide-delimiter-background
                    height="100%" >
                    <v-carousel-item v-for="(item, i) in items" :key="i" >
                        <v-sheet color="black"  tile >
                            <div style="position: relative;height: 500px;" >
                                <img
                                    v-if="item.length === 1 && item[0] === null"
                                    :src="require('@/assets/puzzle_0.png')"
                                    aspect-ratio="1"
                                    style="width: 250empx;height: 250px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)" />
                                <img
                                    v-else-if="item.length === 2 && item[1] === null"
                                    :src="require('@/assets/puzzle_1.png')"
                                    aspect-ratio="1"
                                    :style="{
                                        width: innerWidth + 'px',
                                        height: innerWidth + 'px',
                                        position: 'absolute', 
                                        top: '50%',
                                        left: '50%',
                                        transform: 'translate(-50%, -50%)'
                                    }" >
                                </img>
                                <img
                                    v-else-if="item.length === 3 && item[2] === null"
                                    :src="require('@/assets/puzzle_1.png')"
                                    aspect-ratio="1"
                                    style="width: 250px;height: 250px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)" />
                                <img
                                    v-else-if="item.length === 4 && item[3] === null"
                                    :src="require('@/assets/puzzle_1.png')"
                                    aspect-ratio="1"
                                    style="width: 250px;height: 250px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)" />
                                <img
                                    v-else-if="item.length === 5 && item[4] === null"
                                    :src="require('@/assets/puzzle_1.png')"
                                    aspect-ratio="1"
                                    style="width: 250px;height: 250px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)" />
                                <img
                                    v-else-if="item.length === 5 && item[5] === null"
                                    :src="require('@/assets/puzzle_1.png')"
                                    aspect-ratio="1"
                                    style="width: 250px;height: 250px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)" />
                                <div style="font-size: 30px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%)">
                                    {{ i + 1 }} / {{ (i * 5) + 5 }}
                                </div>

                                <div 
                                    :style="{
                                        width: innerWidth + 'px',
                                        height: innerWidth + 'px',
                                        position: 'absolute', 
                                        top: '50%',
                                        left: '50%',
                                        transform: 'translate(-50%, -50%)'
                                    }" >
                                    <div style="height: 20%;display: flex;" >
                                        <div style="width: 25%;">
                                            <div style="height: 50%"></div>
                                            <div style="height: 50%;display: flex;">
                                                <div style="width: 50%;" />
                                                <div style="width: 50%;" @click="onClick(i, 4)" />
                                            </div>
                                        </div>
                                        <div style="width: 25%;" @click="onClick(i, 4)" />
                                        <div style="width: 25%;" @click="onClick(i, 0)" />
                                        <div style="width: 25%;">
                                            <div style="height: 50%"></div>
                                            <div style="height: 50%;display: flex;">
                                                <div style="width: 50%;" @click="onClick(i, 0)" />
                                                <div style="width: 50%;" />
                                            </div>
                                        </div>
                                    </div>
                                    <div style="height: 20%;display: flex;" >
                                        <div style="width: 25%;" @click="onClick(i, 4)" />
                                        <div style="width: 25%;">
                                            <div style="height: 50%;display: flex;">
                                                <div style="width: 50%;" @click="onClick(i, 4)" />
                                                <div style="width: 50%;" />
                                            </div>
                                        </div>
                                        <div style="width: 25%;">
                                            <div style="height: 50%;display: flex;">
                                                <div style="width: 50%;" />
                                                <div style="width: 50%;" @click="onClick(i, 0)" />
                                            </div>
                                        </div>
                                        <div style="width: 25%;" @click="onClick(i, 0)" />
                                    </div>
                                    <div style="height: 20%;display: flex;" >
                                        <div style="width: 25%;" @click="onClick(i, 3)" />
                                        <div style="width: 25%;"></div>
                                        <div style="width: 25%;"></div>
                                        <div style="width: 25%;" @click="onClick(i, 1)" />
                                    </div>
                                    <div style="height: 20%;display: flex;" >
                                        <div style="width: 25%;" @click="onClick(i, 3)" />
                                        <div style="width: 25%;" />
                                        <div style="width: 25%;" />
                                        <div style="width: 25%;" @click="onClick(i, 1)" />
                                    </div>
                                    <div style="height: 20%;display: flex;" >
                                        <div style="width: 25%;">
                                            <div style="height: 50%;display: flex;">
                                                <div style="width: 50%;" />
                                                <div style="width: 50%;" @click="onClick(i, 3)" />
                                            </div>
                                        </div>
                                        <div style="width: 25%;" @click="onClick(i, 2)" />
                                        <div style="width: 25%;" @click="onClick(i, 2)" />
                                        <div style="width: 25%;">
                                            <div style="height: 50%;display: flex;">
                                                <div style="width: 50%;" @click="onClick(i, 1)" />
                                                <div style="width: 50%;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </v-sheet>
                    </v-carousel-item>
                </v-carousel>
            </v-card>
        </v-container>
    </div>
</template>

<script>
    import lodash from 'lodash'

    export default {
        name: 'DrugInfo',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            vaccineTypeName: null,
            other: null,
            items: [],
            imageSrc: 'puzzle_0.png',
            innerWidth: 0
        }),
        mounted() {
            this.innerWidth = window.innerWidth * 0.9
            this.getFoodAllergyById()
        }, 
        methods: {
            async getFoodAllergyById () {
                if (this.$route.params.vaccine_book_id) {

                    try {
                        await this.$store.dispatch('vaccine/GET_VACCINE_BOOK_BY_ID', this.$route.params.vaccine_book_id)
                        await this.$store.dispatch('vaccine/GET_VACCINE_LIST', this.$route.params.vaccine_book_id)
                        const { vaccine_type_name, other } = this.$store.state.vaccine.vaccineBook

                        this.vaccineTypeName = vaccine_type_name
                        this.other = other

                        this.items = this.$store.state.vaccine.vaccineList
                        this.items = this.items.concat(null) 
                        this.items = lodash.chunk(this.items, 5)

                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            onClick (page, index) {
                 if (typeof this.items[page][index] !== 'undefined' && this.items[page][index] !== null) {
                    this.$router.push(`/creature/${this.$route.params.creature_id}/vaccine/${this.items[page][index].id}`)
                }
            }
        }
    }
</script>
