<template>
    <v-container class="py-0" style="height: 100%;border: 1px solid;" >
        <v-card
            elevation="24"
            max-width="444"
            class="mx-auto"
            style="height: 92%;background-color: #000000;" >
            <v-carousel
                :continuous="false"
                :show-arrows="false"
                hide-delimiter-background
                height="100%" >
                <v-carousel-item v-for="(item, i) in items" :key="i" >
                    <v-sheet color="black"  tile >
                        <v-row v-for="(row, j) in item" :key="j" :style="{ margin: '10px'}" >
                            <v-col cols="6" md="6" v-for="(column, k) in row" :key="k" style="height: 100px;" >
                                <v-img
                                    :src="require('@/assets/square_button.png')"
                                    aspect-ratio="1"
                                    style="width: 80%;height: 100px;margin: auto;"
                                    @click="onClick(column.id)" >
                                    <div style="width: 80%;height: 100%;display: flex;margin: auto;" >
                                        <div style="text-align: center;color: #000000;font-size: 10px;margin: auto;" >{{ column.name }}</div>
                                    </div>
                                </v-img>
                            </v-col>
                        </v-row>
                    </v-sheet>
                </v-carousel-item>
            </v-carousel>
        </v-card>
        <v-snackbar
            type="error"
            v-model="snackbar"
            top
            color="red" >
            {{ errorMessage }}
            <v-btn color="#FFFFFF" text @click="snackbar = false" >
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import dayjs from 'dayjs'
    import lodash from 'lodash'

    export default {
        name: 'CreaturePreview',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            items: []
        }),
        mounted() {
            this.getFoodAllergyListByCreatureId()
        },
        methods: {
            async getFoodAllergyListByCreatureId() {
                try {
                    const result = await this.$store.dispatch('foodAllergy/GET_FOOD_ALLERGY_LIST_BY_CREATURE_ID', this.$route.params.creature_id)
                    this.items = lodash.chunk(lodash.chunk(this.$store.state.foodAllergy.foodAllergyList, 2), 4) 

                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            onClick(id) {
                this.$router.push(`/creature/${this.$route.params.creature_id}/food-allergy/${id}`)
            }
        }
    }
</script>