<template>
    <v-container class="py-0" >
        <v-row>
            <v-col cols="12">
                <a
                    v-if="image"
                    :href="image"
                    class="mr-0"
                    rel="noopener"
                    target="_blank" >
                    <v-img
                        :src="image"
                        :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                        aspect-ratio="1"
                        class="grey lighten-2"
                        style="width: 150px;height: 150px;margin: auto;"/>
                    </a>
                <div v-else style="width: 150px;height: 150px;margin: auto;" />
            </v-col>
            <v-col cols="12" class="text-center">
                <div style="color: #FFFFFF;" >Drug name</div>
                <div style="color: #FFFFFF;font-size: 12px;" >{{ name }}</div>
                <div style="color: #FFFFFF;" >Description</div>
                <div style="color: #FFFFFF;font-size: 12px;word-wrap: break-word;" >{{ description }}</div>
            </v-col>
        </v-row>
        <v-snackbar
            type="error"
            v-model="snackbar"
            top
            color="red" >
            {{ errorMessage }}
            <v-btn color="#FFFFFF" text @click="snackbar = false" >
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    export default {
        name: 'DrugInfo',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            image: null,
            name: null,
            description: null
        }),
        mounted() {
            this.getFoodAllergyById()
        }, 
        methods: {
            async getFoodAllergyById () {
                if (this.$route.params.food_allergy_id) {

                    try {
                        await this.$store.dispatch('foodAllergy/GET_FOOD_ALLERGY_BY_ID', this.$route.params.food_allergy_id)

                        const { image, name, description } = this.$store.state.foodAllergy.foodAllergy

                        this.image = image !== null ? process.env.VUE_APP_UPLOADS + '/' + image : null
                        this.name = name
                        this.description = description
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            }
        }
    }
</script>
