<template>
    <v-container class="py-0" >
        <v-row>
            <v-col cols="12" style="padding-top: 0px;">
                <v-card style="background-color: #000000;margin-top: 0px;">
                    <v-container fluid style="background-color: #000000;border: 1px solid #000000;padding-top: 0px;" >
                        <v-row>
                            <v-col 
                                v-for="(image, imageIndex) in imageList"
                                :key="image.id"
                                cols="4"
                                align="center" >
                                <v-card flat tile class="d-flex" >
                                    <span style="width: 100%;height: 100%;" @click="index = imageIndex" >
                                        <base-image
                                            :src="image"
                                            :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`" />
                                    </span>
                                </v-card>
                            </v-col>
                        </v-row>
                    </v-container>
                </v-card>
            </v-col>
            <gallery :images="imageList" :index="index" @close="index = null"></gallery>
        </v-row>
    </v-container>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    import VueGallery from 'vue-gallery'

    export default {
        name: 'QRCodeSetForm',

        components: {
            'gallery': VueGallery
        },

        data: () => ({
            imageList: [],
            index: null
        }),
        mounted() {
            this.getImageList()
        },
        methods: {
            async getImageList() {
                const data = {
                    offset: 0,
                    limit: 1000,
                    refId: this.$route.params.treatment_history_id,
                    tag: 'treatment-history-image-list'
                }

                const result = await this.$store.dispatch('file/GET_FILE_LIST', data)

                this.imageList = result.items.map(item => `${process.env.VUE_APP_UPLOADS}/${item.path}/${item.name}`)
            },
            imageBlank (imageUrl) {
                // window.open(imageUrl, '_blank')
            }
        }
    }
</script>