<template>
    <v-container class="py-0" >
        <v-row>
            <v-col cols="12">
                <div style="color: #FFFFFF;text-align: right;" >{{ date }}&nbsp;&nbsp;&nbsp;{{ time }}</div>
            </v-col>
            <v-col cols="12">
                <a
                    v-if="image"
                    :href="image"
                    class="mr-0"
                    rel="noopener"
                    target="_blank" >
                    <v-img
                        :src="image"
                        :lazySrc="`https://picsum.photos/10/6?image=${1 * 5 + 10}`"
                        aspect-ratio="1"
                        class="grey lighten-2"
                        style="width: 150px;height: 150px;margin: auto;"/>
                    </a>
                <div v-else style="width: 150px;height: 150px;margin: auto;" />
            </v-col>
            <v-col cols="12">
                <div style="color: #FFFFFF;" >Department: {{ departmentName }}</div>
                <div style="color: #FFFFFF;" >fileCategoryName: {{ fileCategoryName }}</div>
                <div v-if="fileCategoryOther" style="color: #FFFFFF;" >fileCategoryName: {{ fileCategoryOther }}</div>
                <div style="color: #FFFFFF;text-align: center;" >
                    Treatment history files :  
                    <span :style="{ 'color' : imageCount === 'None' ? '#FFFFFF' : '#3BB9FF' }" @click="goToScreen('treatment-history-image-list')" >{{ imageCount }}</span>
                </div>
                <div style="color: #FFFFFF;text-align: center;font-size: 20px;" >description</div>
                <div style="color: #FFFFFF;text-align: center;word-wrap: break-word" >{{ description }}</div>
            </v-col>
        </v-row>
        <v-snackbar
            type="error"
            v-model="snackbar"
            top
            color="red" >
            {{ errorMessage }}
            <v-btn color="#FFFFFF" text @click="snackbar = false" >
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>

<script>
    import dayjs from 'dayjs'
    import moment from 'moment'

    export default {
        name: 'TreatmentHistoryInfo',

        data: () => ({
            snackbar: false, 
            errorMessage: null,
            image: null,
            date: null,
            time: null,
            departmentName: null,
            fileCategoryName: null,
            fileCategoryOther: null,
            description: null,
            imageCount: null
        }),
        mounted() {
            this.getTreatmentHistoryById()
        }, 
        methods: {
            async getTreatmentHistoryById () {
                if (this.$route.params.treatment_history_id) {

                    try {
                        await this.$store.dispatch('treatmentHistory/GET_TREATMENT_HISTORY_BY_ID', this.$route.params.treatment_history_id)
                        
                        const { 
                            time,
                            date,
                            image,
                            department_name, 
                            file_category_name, 
                            file_category_other,
                            description,
                            imageCount } = this.$store.state.treatmentHistory.treatmentHistory

                        this.time = this.convertJSONTimeToString(time)
                        this.date = this.convertJSONDateToString(date)
                        this.image = image !== null ? process.env.VUE_APP_UPLOADS + '/' + image : null
                        this.departmentName = department_name
                        this.fileCategoryName = file_category_name
                        this.fileCategoryOther = file_category_other
                        this.description = description
                        this.imageCount = imageCount === null || imageCount <= 0  ? 'None' : imageCount + (imageCount > 1 ? ' items' : ' item')
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            goToScreen (screen) {
                this.$router.push(`/creature/${this.$route.params.treatment_history_id}/${screen}/${this.$route.params.treatment_history_id}`)
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            },
            convertJSONTimeToString (value) {
                return moment(value, 'HH:mm:ss').format('HH:mm')
            }
        }
    }
</script>