<template>
    <div>
        <base-material-card icon="mdi-qrcode">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    QRCode Information 
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" class="text-center" >
                            <input
                                ref="backgroundImageFile"
                                type="file"
                                class="d-none"
                                @change="onBackgroundImageChange">

                            <v-card
                                :class="backgroundImage ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                @click="$refs.backgroundImageFile.click()" >
                                
                                <v-img v-if="backgroundImage" :src="backgroundImage" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-file-image</v-icon>
                            </v-card>

                            <div class="font-weight-bold grey--text">
                                CHOOSE BACKGROUND
                            </div>
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="Code" v-model="code" disabled />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-text-field label="Name" v-model="name" :rules="nameRules" />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-select 
                                v-model="amount" 
                                :items="amountListSelectItems" 
                                label="amount" 
                                :disabled="amountDisabled"
                                :rules="amountRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="register used" v-model="registerUsed" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="creature used" v-model="creatureUsed" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="used" v-model="used" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="unused" v-model="unused" disabled />
                        </v-col>
                        <v-col cols="12">
                            <v-textarea
                                class="purple-input"
                                label="description"
                                filled
                                v-model="description" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="Create by" v-model="createBy" disabled />
                        </v-col>
                         <v-col cols="12" md="6" >
                            <v-text-field label="Create date" v-model="createDate" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="Edit by" v-model="editBy" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="Edit date" v-model="editDate" disabled />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="success" class="mr-0" @click="submit" :loading="loading" :disabled="loading">
                                {{ this.$route.params.id ? 'Edit' : 'Add' }}
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
            </v-form>
            <base-material-snackbar
                v-model="snackbar"
                type="error"
                v-bind="{
                    top: true,
                    center: true
                }" >
                <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
            </base-material-snackbar>
        </base-material-card>

        <base-material-card
            color="success"
            icon="mdi-vuetify"
            inline
            title="QRCode List"
            class="px-5 py-3" >

            <v-container class="py-0">
                <v-row>
                    <v-col cols="12" md="2" align-self="center" >
                        <v-btn color="success" class="mr-0" @click="pdfView(false)" block >
                            print
                        </v-btn>
                        
                    </v-col>
                    <v-col cols="12" md="2" align-self="center" >
                        <v-btn color="success" class="mr-0" @click="pdfView(true)" block >
                            print all
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="3" offset-md="5" >
                        <base-search-bar :searchParent="searchParent" label="serial no." />
                    </v-col>
                </v-row>
                <v-row>
                    <v-col cols="12" md="12" >
                        
                        <v-data-table
                            :headers="headers"
                            :items="qrcodeItemList"
                            v-model="qrccodeItemSelected"
                            item-key="id"
                            hide-default-footer
                            :loading="isLoading"
                            show-select >

                            <template v-slot:item="{ item, select, isSelected, index }" >
                                <tr>
                                    <td >
                                        <v-checkbox
                                            :value="isSelected" @change="select($event)"
                                            color="gray"
                                            hide-details />
                                    </td>
                                    
                                    <td style="text-align: center; ">
                                        <div style="position: relative;">
                                            <qrcode :value="domain + '/creature/' + item.id" :options="{ width: 150 }" />
                                            <v-img
                                                :src="require(`@/assets/logo_profile_qr.png`)"
                                                class="grey lighten-2"
                                                style="width: 35px; height: 35px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: 0px!important" />
                                        </div>
                                    </td>
                                    <td style="width: 10%">{{ ((page - 1) * 10) + index + 1 }}</td>
                                    <td v-text="item.code" />
                                    <td v-text="item.usage_status" />
                                    <td v-text="item.status">
                                    <td>
                                        <v-btn dark icon min-width="0" @click="onClickQRCodeItem(item)">
                                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                                        </v-btn>
                                    </td>
                                </tr>
                            </template>
                        </v-data-table>
                        <v-pagination v-model="page" :length="totaQRCodeItemlRecords" circle />
                    </v-col>
                </v-row>
            </v-container>
        </base-material-card>

        <v-dialog v-model="dialog" max-width="700" >
            <v-card>
                <v-card-title>
                    <v-icon aria-label="Close" @click="dialog = false" >
                        mdi-close
                    </v-icon>
                </v-card-title>

                <v-card-text class="body-1" >
                    <v-row>
                        <v-col cols="12" md="12" class="text-center" style="position: relative;" >
                            <qrcode :value="domain + '/creature/' + qrcodeItem.id" :options="{ width: 250 }" />
                            <v-img
                                :src="require(`@/assets/logo_profile_qr.png`)"
                                class="grey lighten-2"
                                style="width: 50px; height: 50px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: 0px!important" />
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="6" >
                            code: {{ qrcodeItem.code }} 
                        </v-col>
                        <v-col cols="12" md="6" >
                            usage status: {{ qrcodeItem.usage_status }}
                        </v-col>
                        <v-col cols="12" md="6" >
                            create date: {{ convertJSONDateToString(qrcodeItem.create_date) }}
                        </v-col>
                        <v-col cols="12" md="6" >
                            create by: {{ qrcodeItem.create_by }}
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-card-text class="pb-6 pt-12 text-right pa-0" >
                                <v-btn text @click="dialog = false" >
                                    Cancel
                                </v-btn>
                            
                                <v-btn color="success" @click="dialog = false" >
                                    {{ this.$route.params.id ? 'Edit' : 'Add' }}
                                </v-btn>
                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog
            v-model="imageLoadingDialog"
            hide-overlay
            persistent
            width="300" >
            <v-card color="primary" dark >
                <v-card-text>
                    <span style="color: #FFFFFF;"> Loading </span>
                    <v-progress-linear
                        indeterminate
                        color="white"
                        class="mb-0" />
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            domain: process.env.VUE_APP_DOMAIN_URL,
            valid: false,
            snackbar: false, 
            errorMessage: null,
            dialog: false, 
            imageLoadingDialog: false,
            loading: false, 
            qrcodeItemSerialNoCriteria: null,
            code: null,
            id: null,
            name: null, 
            amount: null, 
            registerUsed: null,
            creatureUsed: null,
            used: null,
            unused: null,
            description: null, 
            backgroundImage: null,
            backgroundImageId: null,
            oldBackgroundImageId: null,
            isBackgroundImageChange: false,
            amountDisabled: false,
            createBy: null,
            createDate: null,
            editBy: null,
            editDate: null,
            qrccodeItemSelected: [],
            pdfRowSize: 2,
            amountListSelectItems: [ 30, 120, 300, 600 ],
            pdfRowSizeItems: [ 2, 3 ],
            headers: [
                {
                    sortable: false,
                    text: '',
                    value: 'src',
                    width: '20%'
                },
                {
                    text: 'no',
                    value: 'code',
                    width: '15%'
                },
                {
                    text: 'serial no',
                    align: 'left',
                    sortable: false,
                    value: 'no'
                },
                {
                    text: 'usage status',
                    value: 'usage_status',
                    width: '15%'
                },
                {
                    text: 'status',
                    value: 'status',
                    width: '15%'
                },
                {
                    sortable: false,
                    text: '#',
                    value: 'action',
                    width: '20%'
                }
            ],
            items: [
                {
                    id: 1,
                    usage_status: 'none',
                    status: 'available'
                },
                {
                    id: 2,
                    usage_status: 'user signup',
                    status: 'available'
                }
            ],
            nameRules: [
                (v) => !!v || 'Name is required',
            ],
            amountRules: [
                (v) => !!v || 'Amount is required',
            ]

        }),
        computed: {
            ...mapState('qrcode', [ 'qrcodeItemList', 'isLoading', 'qrcodeItem', 'totaQRCodeItemlRecords' ]), 
            page : {
                get () {
                    return this.$store.state.qrcode.pageQRCodeItemCriteria
                },
                set (value) {
                    this.$store.commit('qrcode/SET_PAGE_QRCODE_ITEM_CRITERIA', value)
                }
            }
        },
        mounted () {
            this.setQRCodeItemList([])
            this.getQRCodeSetById()
        },
        watch: {
            async page () {
                // console.log(this.page)
                console.log('sadsb')
                await this.getQRCodeItemList(this.page - 1)
            }
        },
        methods: {
            ...mapMutations({
                setQRCodeItem: 'qrcode/SET_QRCODE_ITEM',
                setQRCodeItemList: 'qrcode/SET_QRCODE_ITEM_LIST',
                setPageQRCodeItemCriteria: 'qrcode/SET_PAGE_QRCODE_ITEM_CRITERIA'
            }),
            async searchParent (value) {
                this.qrcodeItemSerialNoCriteria = value

                const data = {
                    setId: this.$route.params.id,
                    serialNoCriteria: value,
                    offset: 0,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_ITEM_LIST', data)
                    this.qrccodeItemSelected = []
                    this.setPageQRCodeItemCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            },
            async onBackgroundImageChange (val) {
                const value = val.target.files[0]
    
                if (!value) return (this.backgroundImage = null)

               const data = {
                    name: 'qrcode-set-backgroud.js',
                    tag: 'qrcode-set-background-image',
                    type: value.type,
                    uri: value
                }

                try {
                    this.imageLoadingDialog = true
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.backgroundImageId = result.id
                    this.backgroundImage = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isBackgroundImageChange = true
                    this.imageLoadingDialog = false
                } catch (error) {
                    this.imageLoadingDialog = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            onClickQRCodeItem (item) {
                this.dialog = true
                this.setQRCodeItem(item)
            },
            async getQRCodeSetById () {
                if (this.$route.params.id) {
                    this.amountDisabled = true
                    await this.$store.dispatch('qrcode/GET_QRCODE_SET_BY_ID', this.$route.params.id)
                    await this.getQRCodeItemList(this.page - 1)
                    const { 
                        background_image_id,
                        background_image_path,
                        background_image_name,
                        code, 
                        name, 
                        amount, 
                        register_used, 
                        creature_used,
                        used,
                        unused,
                        description, 
                        create_by, 
                        create_date, 
                        edit_by, 
                        edit_date } = this.$store.state.qrcode.qrcodeSet

                    this.backgroundImage = background_image_path !== null && background_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + background_image_path + '/' + background_image_name : null
                    this.backgroundImageId = background_image_id
                    this.oldBackgroundImageId = background_image_id
                    this.code = code
                    this.name = name
                    this.amount = amount
                    this.registerUsed = register_used
                    this.creatureUsed = creature_used
                    this.used = used
                    this.unused = unused
                    this.description = description
                    this.createBy = create_by
                    this.createDate = create_date ? this.convertJSONDateToString(create_date) : null
                    this.editBy = edit_by
                    this.editDate = edit_date ? this.convertJSONDateToString(edit_date) : null
                    
                }
            },
            async getQRCodeItemList (page) {
                const data = {
                    setId: this.$route.params.id,
                    serialNoCriteria: this.qrcodeItemSerialNoCriteria,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_ITEM_LIST', data)
                } catch (error) {
                    console.log('error', error)
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const data = {
                        id: this.$route.params.id || null,
                        name: this.name,
                        amount: this.amount,
                        description: this.description,
                        backgroundImageId: this.backgroundImageId,
                        oldBackgroundImageId: this.isBackgroundImageChange ? this.oldBackgroundImageId : null,
                    }

                    this.snackbar = false
                    this.loading = true

                    try {
                        if (data.id) {
                            const result = await this.$store.dispatch('qrcode/UPDATE_QRCODE_SET', data)
                        } else {
                            const result = await this.$store.dispatch('qrcode/QRCODE_GENERATE', data)
                        }

                        this.$router.push({ path: '/admin/qrcode' })
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }

                    this.loading = false
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            },
            async downloadPDF () {
                await this.$store.dispatch('qrcode/DOWNLOAD_PDF', this.$route.params.id, )
            },
            pdfView (all = false) {
                
                const items = this.qrccodeItemSelected.map(item => item.id )

                if (items.length === 0 && all !== true) {
                    this.snackbar = true
                    this.errorMessage = 'Please select qrcode at least one.'
                    return
                }
                
                if (all) {
                    window.open(`${process.env.VUE_APP_API_ENDPOINT}/qrcode/generate-pdf/${this.pdfRowSize}/${this.$route.params.id}/all`, '_blank')
                } else {
                    window.open(`${process.env.VUE_APP_API_ENDPOINT}/qrcode/generate-pdf/${this.pdfRowSize}/${this.$route.params.id}/${Buffer.from(JSON.stringify(items)).toString('base64')}`, '_blank')
                }
            }
        }
    }
</script>

<style>
.v-image__image--cover {
    border-radius: 0px!important;
}
</style>