<template>
    <v-row>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="serial no." 
                v-model="serialNo" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="name" 
                v-model="name" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <base-date-mask :dateChangeParent="dateChangeParent" label="date" />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="search"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                ค้นหา
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { mapMutations } from 'vuex'

    export default {
        name: 'QRCodeSetSearchBar',
        data: () => ({
            serialNo: null,
            name: null,
            createDate: null
        }),
        mounted() {
            this.getQRCodeSetList(0)
        },
        computed: {
            serialNoCriteria: {
                get () {
                    return this.$store.state.qrcode.serialNoCriteria
                },
                set (val) {
                    this.$store.commit('qrcode/SET_SERIAL_NO_CRITERIA', val)
                }
            },
            nameCriteria: {
                get () {
                    return this.$store.state.qrcode.nameCriteria
                },
                set (val) {
                    this.$store.commit('qrcode/SET_NAME_CRITERIA', val)
                }
            }
        },
        methods: {
            ...mapMutations({
                setCreateDateCriteria: 'qrcode/SET_ฺCREATE_DATE_CRITERIA',
                setPageCriteria: 'qrcode/SET_PAGE_CRITERIA'
            }),
            dateChangeParent(value) {
                this.createDate = value
            },
            async search() {

                const data = {
                    serialNoCriteria: this.serialNo,
                    nameCriteria: this.name,
                    createDateCriteria: this.createDate,
                    offset: 0,
                    limit: 10
                }
                
                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_SET_LIST', data)
                    this.serialNoCriteria = this.serialNo
                    this.nameCriteria = this.name
                    this.setCreateDateCriteria(this.createDate)
                    this.setPageCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            },
            async getQRCodeSetList (page) {
                const data = {
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_SET_LIST', data)
                    this.serialNoCriteria = null
                    this.nameCriteria = null
                    this.setCreateDateCriteria(null)
                    this.setPageCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>