<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="qrcodeSetList"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.code" />
                    <td v-text="item.name" />
                    <td v-text="item.amount" />
                    <td v-text="convertJSONDateToString(item.create_date)" />
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'qrcode-edit', params: { id: item.id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>

            <!-- <template v-slot:item.action="{ item }">
                <v-btn dark icon min-width="0" :to="{ name: 'qrcode-edit', params: { id: item.id } }" >
                    <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                </v-btn>
            </template> -->

        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalRecords"
            circle />
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'QRCodeSetTableList',
        data: () => ({
            // page: 1,
            headers: [
                {
                    text: 'Serial no.',
                    value: 'code',
                    width: '15%'
                },
                {
                    text: 'Name',
                    value: 'name',
                    width: '20%'
                },
                {
                    text: 'Amount',
                    value: 'amount',
                    width: '20%'
                },
                {
                    text: 'Create date',
                    value: 'create_date',
                    width: '20%'
                },
                {
                    sortable: false,
                    text: '#',
                    width: '15%',
                    value: 'action'
                }
            ],
            search: undefined
        }),
        computed: {
            ...mapState(
                'qrcode', 
                [ 
                    'serialNoCriteria', 
                    'nameCriteria', 
                    'createDateCriteria', 
                    'qrcodeSetList', 
                    'totalRecords', 
                    'isLoading' 
                ]
            ),
            page : {
                get () {
                    return this.$store.state.qrcode.pageCriteria
                },
                set (val) {
                    this.$store.commit('qrcode/SET_PAGE_CRITERIA', val)
                }
            }
        },
        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },
        watch: {
            async page () {
                // console.log(this.page)
                await this.getQRCodeSetList(this.page - 1)
            }
        },
         methods: {
            async getQRCodeSetList (page) {
                
                const data = {
                    serialNoCriteria: this.serialNoCriteria,
                    nameCriteria: this.nameCriteria,
                    createDateCriteria: this.$store.state.qrcode.createDateCriteria,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_SET_LIST', data)
                } catch (error) {

                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            }
         }
    }
</script>
