<template>
    <v-container id="extended-tables" fluid tag="section" >
        <base-material-card
            color="success"
            icon="mdi-qrcode"
            inline
            title="QRCode Item"
            class="px-5 py-3" >
                <span style="position: absolute;top: 20px; right: 20px;" class="font-weight-light" >QRCode Total: {{ total }}</span>
                <span style="position: absolute;top: 45px; right: 20px;" class="font-weight-light" >QRCode Used: {{ used }}</span>
                <v-row >
                    <v-col cols="12" md="3" align-self="center" >
                       <v-btn
                            color="primary"
                            class="mx-0 font-weight-light"
                            to="/admin/qrcode/add"
                            dark >

                            <v-icon dark left>mdi-plus</v-icon>
                            เพิ่ม
                        </v-btn>
                    </v-col>
                    <v-col cols="12" md="9" >
                        <search-bar />
                    </v-col>
                </v-row>

                <v-row>
                    <v-col cols="12" md="12" >
                        <table-list />
                    </v-col>
                </v-row>

        </base-material-card>
    </v-container>
</template>

<script>
    export default {
        name: 'QRCode',
        components: {
            SearchBar: () => import('./components/SearchBar'),
            TableList: () => import('./components/TableList')
        },
        data: () => ({
            total: 0,
            used: 0,
        }),
        mounted() {
            this.getQrcodeInfo()
        },
        methods: {
            async getQrcodeInfo (page) {

                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_INFO')
                    const { total, used } = result
                    this.total = total
                    this.used = used
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>
