<template>
    <v-row>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="serial no." 
                v-model="serialNo" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="set no." 
                v-model="setNo" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <base-date-mask :dateChangeParent="dateChangeParent" label="date" />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="search"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                ค้นหา
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { mapMutations } from 'vuex'

    export default {
        name: 'QRCodeItemSearchBar',
        data: () => ({
            serialNo: null,
            setNo: null,
            createDate: null
        }),
        mounted() {
            this.getQRCodeItemList(0)
        },
        methods: {
            ...mapMutations({
                serialNoCriteria: 'qrcode/SET_SERIAL_NO_CRITERIA',
                setNoCriteria: 'qrcode/SET_ฺNO_CRITERIA',
                setCreateDateCriteria: 'qrcode/SET_ฺCREATE_DATE_CRITERIA',
                setPageQRCodeItemCriteria: 'qrcode/SET_PAGE_QRCODE_ITEM_CRITERIA'
            }),
            dateChangeParent(value) {
                this.createDate = value
            },
            async search() {
                const data = {
                    serialNoCriteria: this.serialNo,
                    setNoCriteria: this.setNo,
                    createDateCriteria: this.createDate,
                    offset: 0,
                    limit: 10
                }
                
                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_ITEM_LIST', data)
                    this.serialNoCriteria(this.serialNo)
                    this.setNoCriteria(this.setNo)
                    this.setCreateDateCriteria(this.createDate)
                    this.setPageQRCodeItemCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            },
            async getQRCodeItemList (page) {
                const data = {
                    offset: 0,
                    limit: 10
                }
                
                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_ITEM_LIST', data)
                    this.serialNoCriteria(null)
                    this.setNoCriteria(null)
                    this.setCreateDateCriteria(null)
                    this.setPageQRCodeItemCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>