<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="qrcodeItemList"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item, index }">
                <tr>
                    <td style="text-align: center; ">
                        <div style="position: relative;">
                            <qrcode :value="domain + '/creature/' + item.id" :options="{ width: 150 }" />
                            <v-img
                                :src="require(`@/assets/logo_profile_qr.png`)"
                                class="grey lighten-2"
                                style="width: 35px; height: 35px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: 0px!important" />
                        </div>
                    </td>
                    <td style="width: 10%">{{ ((page - 1) * 10) + index + 1 }}</td>
                    <td v-text="item.set_code" />
                    <td v-text="item.set_code" />
                    <td v-text="convertJSONDateToString(item.create_date)">
                    <td v-text="item.usage_status" />
                    <td v-text="item.status">
                    <td>
                        <v-btn dark icon min-width="0" @click="onClickQRCodeItem(item)">
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>

            <!-- <template v-slot:item.action="{ item }">
                <v-btn dark icon min-width="0" :to="{ name: 'qrcode-edit', params: { id: item.id } }" >
                    <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                </v-btn>
            </template> -->

        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totaQRCodeItemlRecords"
            circle />

        <v-dialog v-model="dialog" max-width="700" >
            <v-card>
                <v-card-title>
                    <v-icon aria-label="Close" @click="dialog = false" >
                        mdi-close
                    </v-icon>
                </v-card-title>

                <v-card-text class="body-1" >
                    <v-row>
                        <v-col cols="12" md="12" class="text-center" style="position: relative;" >
                            <qrcode :value="domain + '/creature/' + qrcodeItem.id" :options="{ width: 250 }" />
                            <v-img
                                :src="require(`@/assets/logo_profile_qr.png`)"
                                class="grey lighten-2"
                                style="width: 50px; height: 50px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);border-radius: 0px!important" />
                        </v-col>
                    </v-row>
                    <v-row>
                        <v-col cols="12" md="6" >
                            code: {{ qrcodeItem.code }}
                        </v-col>
                        <v-col cols="12" md="6" >
                            usage status: {{ qrcodeItem.usage_status }}
                        </v-col>
                        <v-col cols="12" md="6" >
                            create date: {{ convertJSONDateToString(qrcodeItem.create_date) }}
                        </v-col>
                        <v-col cols="12" md="6" >
                            create by: {{ qrcodeItem.create_by }}
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-card-text class="pb-6 pt-12 text-right pa-0" >
                                <v-btn text @click="dialog = false" >
                                    Cancel
                                </v-btn>
                            
                                <v-btn color="success" @click="dialog = false" >
                                    {{ this.$route.params.id ? 'Edit' : 'Add' }}
                                </v-btn>
                            </v-card-text>
                        </v-col>
                    </v-row>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'QRCodeItemTableList',
        data: () => ({
            // page: 1,
            domain: process.env.VUE_APP_DOMAIN_URL,
            dialog: false, 
            headers: [
                {
                    sortable: false,
                    text: '',
                    value: 'src',
                    width: '20%'
                },
                {
                    text: 'no',
                    value: 'code',
                    width: '5%'
                },
                {
                    text: 'serial no',
                    align: 'left',
                    sortable: false,
                    value: 'no'
                },
                {
                    text: 'set no',
                    value: 'set_code',
                    width: '15%'
                },
                {
                    text: 'usage status',
                    value: 'usage_status',
                    width: '15%'
                },
                {
                    text: 'status',
                    value: 'status',
                    width: '15%'
                },
                {
                    sortable: false,
                    text: '#',
                    value: 'action',
                    width: '20%'
                }
            ],
            search: undefined
        }),
        computed: {
            ...mapState(
                'qrcode', 
                [ 
                    'serialNoCriteria', 
                    'nameCriteria', 
                    'createDateCriteria', 
                    'qrcodeItemList', 
                    'qrcodeItem',
                    'totaQRCodeItemlRecords', 
                    'isLoading' 
                ]
            ),
            page : {
                get () {
                    return this.$store.state.qrcode.pageQRCodeItemCriteria
                },
                set (val) {
                    this.$store.commit('qrcode/SET_PAGE_QRCODE_ITEM_CRITERIA', val)
                }
            }
        },
        mounted() {
            this.setQRCodeItemList([])
        },
        watch: {
            async page () {
                // console.log(this.page)
                await this.getQRCodeItemList(this.page - 1)
            }
        },
         methods: {
            ...mapMutations({
                setQRCodeItem: 'qrcode/SET_QRCODE_ITEM',
                setQRCodeItemList: 'qrcode/SET_QRCODE_ITEM_LIST',
            //     setPageQRCodeItemCriteria: 'qrcode/SET_PAGE_QRCODE_ITEM_CRITERIA'
            }),
            async getQRCodeItemList (page) {
                console.log('page', page)
                const data = {
                    serialNoCriteria: this.$store.state.qrcode.serialNoCriteria,
                    setNoCriteria: this.$store.state.qrcode.setNoCriteria,
                    createDateCriteria: this.$store.state.qrcode.createDateCriteria,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('qrcode/GET_QRCODE_ITEM_LIST', data)
                } catch (error) {

                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            },
            onClickQRCodeItem (item) {
                this.dialog = true
                this.setQRCodeItem(item)
            }
         }
    }
</script>
