<template>
    <div>
        <base-material-card icon="mdi-metronome">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Vaccine book 
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" md="12" >
                            <v-text-field label="code" v-model="code" disabled />
                        </v-col>
                        <v-col cols="12" md="12" >
                            <v-select 
                                v-model="vaccineType" 
                                :items="vaccineBookSelectItems" 
                                label="vaccine type" 
                                item-value="id"
                                item-text="name"
                                :rules="vaccineTypeRules" />
                        </v-col>
                        <v-col v-if="vaccineType === 14" cols="12" md="12" >
                            <v-text-field label="other" v-model="other" :rules="otherRules" />
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="error" class="mr-1" @click="closeDialog = true" :loading="loading" :disabled="loading">
                                Delete
                            </v-btn>
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                </v-container>
                <base-material-snackbar
                    v-model="snackbar"
                    type="error"
                    v-bind="{
                        top: true,
                        center: true
                    }" >
                    <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
                </base-material-snackbar>
            </v-form>
            <v-dialog v-model="closeDialog" max-width="300" >
                <v-card>
                    <v-card-title>
                        Are you sure? 
                        <v-spacer />
                        <v-icon aria-label="Close" @click="closeDialog = false" >
                            mdi-close
                        </v-icon>
                    </v-card-title>

                    <v-card-text class="pb-6 pt-12 text-center">
                        <v-btn class="mr-3" text @click="closeDialog = false" >
                            No
                        </v-btn>

                        <v-btn color="success" text @click="deleteVaccineBook" >
                            Yes
                        </v-btn>
                    </v-card-text>
                </v-card>
            </v-dialog>
        </base-material-card>

        <base-material-card
            color="success"
            icon="mdi-metronome"
            inline
            title="Vaccine"
            class="px-5 py-3" >
            
            <v-container class="py-0">
                <v-row>
                    <v-col cols="12" md="2" offset-md="6" >
                        <v-text-field 
                            label="name" 
                            v-model="hospital" 
                            clear-icon="mdi-close-circle"
                            clearable/>
                    </v-col>
                    <v-col cols="12" md="2">
                        <base-date-mask :dateChangeParent="dateChangeParent" label="create date" />
                    </v-col>
                    <v-col cols="12" md="2" align-self="center" class="text-center" >
                        <v-btn color="primary" class="mx-0 font-weight-light" dark block @click="search" style="padding: 0px" >
                            <v-icon dark left>mdi-magnify</v-icon>
                            ค้นหา
                        </v-btn>
                    </v-col>
                </v-row>

                <v-data-table
                    :headers="headers"
                    :items="vaccineList"
                    hide-default-footer >

                    <template v-slot:item="{ item }">
                        <tr>
                            <td v-text="item.hospital_name" />
                            <td v-text="convertJSONDateOnlyToString(item.create_date)">
                            <td>
                                <v-btn dark icon min-width="0" :to="{ name: 'vaccine-edit', params: { vaccine_id: item.id } }" >
                                    <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                                </v-btn>
                            </td>
                        </tr>
                    </template>
                </v-data-table>

                <v-pagination v-model="page" :length="pageCount"></v-pagination>
            </v-container>

        </base-material-card>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'VaccineBookForm',
        data: () => ({
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            hospital: null,
            createDate: null,
            hospitalCriteria: null,
            createDateCriteria: null,
            loading: false, 
            code: null,
            id: null,
            vaccineType: null,
            other: null, 
            page: 1,
            pageCount: 0,
            itemsPerPage: 10,
            headers: [
                {
                    text: 'hospital',
                    value: 'hospital_name',
                    width: '33%'
                },
                {
                    text: 'create date',
                    value: 'create_date',
                    width: '15%'
                },
                {
                    sortable: false,
                    text: '#',
                    value: 'action',
                    width: '33%'
                }
            ],
            vaccineBookSelectItems: [
                { name: 'BCG', id: 1 },
                { name: 'HBV', id: 2 },
                { name: 'Dtap, Tdap', id: 3 },
                { name: 'IPV', id: 4 },
                { name: 'Live JE', id: 5 },
                { name: 'Hib', id: 6 },
                { name: 'HAV', id: 7 },
                { name: 'VZV or MMRV', id: 8 },
                { name: 'Influenza', id: 9 },
                { name: 'PCV', id: 10 },
                { name: 'Rota', id: 11 },
                { name: 'HPV', id: 12 },
                { name: 'DEN', id: 13 },
                { name: 'Other', id: 14 }
            ],
            vaccineTypeRules: [
                (v) => !!v || 'Vaccine book is required'
            ],
            otherRules: [
                (v) => !!v || 'Other is required'
            ]
        }),
        computed: {
            ...mapState('vaccine', [ 'vaccineList', 'isLoading' ]),
        },
        mounted() {
            this.getVaccineBookById()
        },
        watch: {
            vaccineType(value) {
                if (value !== 14) this.other = null
            },
            async page () {
                // console.log(this.page)
                console.log('sadsb', this.page)
                await this.getVaccineListByBookId(this.page - 1)
            }
        },
        methods: {
            async onImageChange (val) {
                const value = val.target.files[0]

                if (!value) return (this.image = null)

                const data = {
                    name: 'vaccine-book.js',
                    tag: 'vaccine-book-image',
                    type: value.type,
                    uri: value
                }
                
                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.imageId = result.id
                    this.image = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }

            },
            async getVaccineBookById () {
                if (this.$route.params.id) {
                    
                    try {
                        await this.$store.dispatch('vaccine/GET_VACCINE_BOOK_BY_ID', this.$route.params.vaccine_book_id)

                        const { 
                            id,
                            code,
                            vaccine_type,
                            other,
                            create_by,
                            create_date,
                            edit_by,
                            edit_date } = this.$store.state.vaccine.vaccineBook

                        this.id = id
                        this.code = code
                        this.vaccineType = vaccine_type
                        this.other = other
                        await this.getVaccineListByBookId(0)
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            dateChangeParent(value) {
                this.createDate = value
            },
            async search() {
                if (this.$route.params.id) {
                    
                    try {
                        const data = {
                            bookId: this.$route.params.vaccine_book_id,
                            hospitalCriteria: this.hospital,
                            createDateCriteria: this.createDate,
                            offset: 0,
                            limit: 10
                        }
             
                        const result = await this.$store.dispatch('vaccine/GET_VACCINE_LIST_BY_BOOK_ID', data)
                        this.hospitalCriteria = this.hospital
                        this.createDateCriteria = this.createDate
                        this.pageCount = result.totalRecords
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async getVaccineListByBookId (page) {
                if (this.$route.params.id) {
                    
                    try {
                        const data = {
                            bookId: this.$route.params.vaccine_book_id,
                            hospitalCriteria: this.hospitalCriteria,
                            createDateCriteria: this.createDateCriteria,
                            offset: page,
                            limit: 10
                        }
    
                        const result = await this.$store.dispatch('vaccine/GET_VACCINE_LIST_BY_BOOK_ID', data)
                        this.pageCount = result.totalRecords
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    const data = {
                        id: this.id,
                        vaccineType: this.vaccineType,
                        other: this.other
                    }

                    try {
                        const result = await this.$store.dispatch('vaccine/UPDATE_VACCINE_BOOK', data)
                        this.$router.go(-1)
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                }
            },
            async deleteVaccineBook () {
                try {
                    const result = await this.$store.dispatch('vaccine/DELETE_VACCINE_BOOK', this.id)
                    this.closeDialog = false
                    this.$router.go(-1)
                } catch (error) {
                    this.closeDialog = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>