<template>
    <v-row>
        <v-col cols="12" md="4" >
            <v-text-field 
                label="name" 
                v-model="name" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
       <v-col cols="12" md="4" >
            <base-date-mask :dateChangeParent="dateChangeParent" label="create date" />
        </v-col>
        <v-col cols="12" md="4" align-self="center" class="text-center" >
            <v-btn color="primary" class="mx-0 font-weight-light" dark block @click="search" style="padding: 0px" >
                <v-icon dark left>mdi-magnify</v-icon>
                ค้นหา
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { mapMutations } from 'vuex'

    export default {
        name: 'VaccineBookSearchBar',
        data: () => ({
            name: null,
            createDate: null
        }),
        mounted() {
            this.getVaccineBookList(0)
        },
        methods: {
            ...mapMutations({
                setNameCriteria: 'vaccine/SET_NAME_CRITERIA',
                setCreateDateCriteria: 'vaccine/SET_CREATE_DATE_CRITERIA',
                setPageCriteria: 'vaccine/SET_PAGE_CRITERIA',
            }),
            dateChangeParent(value) {
                this.createDate = value
            },
            async search(val) {
                const data = {
                    creatureId: this.$route.params.id,
                    nameCriteria: this.name,
                    createDateCriteria: this.createDate,
                    offset: 0,
                    limit: 10
                }
    
                try {
                    const result = await this.$store.dispatch('vaccine/GET_VACCINE_BOOK_LIST', data)
                    this.setNameCriteria(this.name)
                    this.setCreateDateCriteria(this.createDate)
                    this.setPageCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            },
            async getVaccineBookList (page) {
                const data = {
                    creatureId: this.$route.params.id,
                    offset: 0,
                    limit: 10
                }
                
                try {
                    const result = await this.$store.dispatch('vaccine/GET_VACCINE_BOOK_LIST', data)
                    this.setNameCriteria(null)
                    this.setCreateDateCriteria(null)
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>