<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="vaccineBookList"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.vaccine_type_name" />
                    <td v-text="convertJSONDateToString(item.create_date)">
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'vaccine-book-edit', params: { vaccine_book_id: item.id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalRecords"
            circle />
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'VaccineBookTableList',
        data: () => ({
            headers: [
                {
                    text: 'Name',
                    value: 'vaccine_type_name',
                    width: '15%'
                },
                {
                    text: 'Create date',
                    value: 'create_date',
                    width: '15%'
                },
                {
                    sortable: false,
                    text: '#',
                    width: '15%',
                    value: 'action'
                }
            ],
            search: undefined
        }),
        computed: {
            ...mapState('vaccine', [ 'textCriteria', 'dateCriteria', 'vaccineBookList', 'totalRecords', 'isLoading' ]),
            page : {
                get () {
                    return this.$store.state.vaccine.pageCriteria
                },
                set (val) {
                    this.$store.commit('vaccine/SET_PAGE_CRITERIA', val)
                }
            }
        },
        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },
        watch: {
            async page () {
                // console.log(this.page)
                await this.getVaccineBookList(this.page - 1)
            }
        },
         methods: {
            async getVaccineBookList (page) {
                
                const data = {
                    creatureId: this.$route.params.id,
                    nameCriteria: this.$store.state.vaccine.nameCriteria,
                    createDateCriteria: this.$store.state.vaccine.createDateCriteria,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('vaccine/GET_VACCINE_BOOK_LIST', data)
                } catch (error) {
                    console.log('error', error)
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            },
            convertJSONDateOnlyToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
         }
    }
</script>
