<template>
    <div>
        <base-material-card icon="mdi-account-multiple">
            <template v-slot:after-heading>
                <div class="font-weight-light card-title mt-2">
                    Member
                    <span class="body-1">— {{ $router.currentRoute.meta.subtitle }}</span>
                </div>
            </template>

            <v-form v-model="valid" ref="form">
                <v-container class="py-0">
                    <v-row>
                        <v-col cols="12" class="text-center" >
                            <input
                                ref="profileImageFile"
                                type="file"
                                class="d-none"
                                @change="onProfileImageChange">

                            <v-card
                                :class="profileImage ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="106"
                                width="106"
                                @click="$refs.profileImageFile.click()" >
                                
                                <v-img v-if="profileImage" :src="profileImage" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-account</v-icon>
                            </v-card>

                            <div class="font-weight-bold grey--text">
                                CHOOSE PICTURE
                                <span class="font-weight-bold grey--text" style="position: absolute;right: 25px;" > QRCode usage: {{ qrcodeUsage }}</span>
                            </div>
                            <!-- <div class="font-weight-bold grey--text" style="position: absolute;right: 25px;margin-bottom: 25px;">
                                CHOOSE PICTURE
                            </div> -->
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="first name" v-model="firstName" :rules="firstNameRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="last name" v-model="lastName" :rules="lastNameRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-select 
                                v-model="gender" 
                                :items="genderSelectItems" 
                                label="gender" 
                                item-value="id"
                                item-text="name"
                                :rules="genderRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-select 
                                v-model="bloodType" 
                                :items="bloodTypeSelectItems" 
                                label="blood type" 
                                item-value="id"
                                item-text="name"
                                :rules="bloodTypeRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-menu
                                :close-on-content-click="false"
                                v-model="menu"
                                transition="scale-transition"
                                offset-y
                                :nudge-right="40"
                                max-width="290px"
                                min-width="290px"
                                class="v-menu_custom" >
                                
                                <template v-slot:activator="{ on }">
                                    <v-text-field
                                        v-on="on"
                                        label="birth date"
                                        v-model="computedBirthDateFormatted"
                                        append-icon="mdi-calendar"
                                        readonly />
                                </template>
                                <v-date-picker class="date-picker-custom" v-model="birthDate" @input="menu = false" color="primary" />
                            </v-menu>
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="relationship" v-model="relationship" :rules="relationshipRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field 
                                label="identification no" 
                                v-model="identificationNo" 
                                :rules="identificationNoRules" 
                                maxlength="13"
                                v-on:keypress="isNumber($event)"
                                @paste="onPaste" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="contact no1" v-model="contactNo1" :rules="contactNo1Rules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="contact no2" v-model="contactNo2" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="address1" v-model="address1" :rules="address1Rules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="address2" v-model="address2" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="address3" v-model="address3" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="username" v-model="username" disabled />
                        </v-col>
                        <v-col cols="9" md="4" >
                            <v-text-field label="password" v-model="password" type="password" />
                        </v-col>
                        <v-col cols="3" md="2" class="align-self-center" >
                            <v-btn 
                                color="primary" 
                                block class="mx-0 font-weight-light" 
                                @click="changePassword" 
                                style="padding: 0px"
                                :loading="loading" 
                                :disabled="loading" >
                                <v-icon dark left>mdi-textbox-password</v-icon>
                                change
                            </v-btn>
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-select 
                                v-model="status" 
                                :items="statusSelectItems" 
                                label="status" 
                                item-value="id"
                                item-text="name"
                                :rules="statusRules" />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="create by" v-model="createBy" disabled />
                        </v-col>
                         <v-col cols="12" md="6" >
                            <v-text-field label="create date" v-model="createDate" disabled />
                        </v-col>
                        <v-col cols="12" md="6" >
                            <v-text-field label="edit by" v-model="editBy" disabled />
                        </v-col>
                         <v-col cols="12" md="6" >
                            <v-text-field label="edit date" v-model="editDate" disabled />
                        </v-col>
                         <v-col cols="12" md="6" />
                        <v-col cols="12" md="6" >
                            <div style="height: 512px;">
                                <GmapMap style="width: 100%; height: 100%;" :zoom="15" :center="center" ref="map">
                                    <GmapMarker :position="marker.latLng" :clickable="true" />
                                </GmapMap>
                            </div>
                        </v-col>
                        <v-col cols="12" md="6" >
                            <input
                                ref="locationImageFile"
                                type="file"
                                class="d-none"
                                @change="onLocationImageChange">

                            <v-card
                                :class="locationImage ? 'success--text' : 'grey--text'"
                                class="mx-auto mt-0 d-inline-flex v-card--account"
                                outlined
                                height="512"
                                width="100%"
                                @click="$refs.locationImageFile.click()" >
                                
                                <v-img v-if="locationImage" :src="locationImage" height="100%" width="100%" />
                                
                                <v-icon v-else class="mx-auto" size="96" >mdi-google-maps</v-icon>
                            </v-card>
                        </v-col>
                        <v-col cols="12" class="text-right" >
                            <v-btn color="error" class="mr-1" @click="closeDialog = true" :loading="loading" :disabled="loading">
                                Delete
                            </v-btn>
                            <v-btn color="success" class="mr-1" @click="submit" :loading="loading" :disabled="loading">
                                Edit
                            </v-btn>
                        </v-col>
                    </v-row>
                    
                </v-container>
            </v-form>
            <base-material-snackbar
                v-model="snackbar"
                type="error"
                v-bind="{
                    top: true,
                    center: true
                }" >
                <span class="font-weight-bold">&nbsp;ERROR&nbsp;</span>{{ errorMessage }}
            </base-material-snackbar>
        </base-material-card>
        <v-dialog v-model="closeDialog" max-width="300" >
            <v-card>
                <v-card-title>
                    Are you sure? 
                    <v-spacer />
                    <v-icon aria-label="Close" @click="closeDialog = false" >
                        mdi-close
                    </v-icon>
                </v-card-title>

                <v-card-text class="pb-6 pt-12 text-center">
                    <v-btn class="mr-3" text @click="closeDialog = false" >
                        No
                    </v-btn>

                    <v-btn color="success" text @click="deleteMember" >
                        Yes
                    </v-btn>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
    import { mapMutations, mapState } from 'vuex'
    import dayjs from 'dayjs'

    export default {
        name: 'QRCodeSetForm',
        data: () => ({
            menu: false,
            valid: false,
            snackbar: false, 
            errorMessage: null,
            closeDialog: false, 
            loading: false, 
            code: null,
            id: null,
            profileImage: null,
            profileImageId: null,
            oldProfileImageId: null,
            isProfileImageChange: false,
            firstName: null,
            lastName: null,
            gender: null,
            bloodType: null,
            birthDate: null,
            relationship: null,
            identificationNo: null,
            contactNo1: null,
            contactNo2: null,
            address1: null,
            address2: null,
            address3: null,
            status: null,
            username: null,
            password: null,
            qrcodeUsage: 0,
            createBy: null,
            createDate: null,
            editBy: null,
            editDate: null,
            locationImage: null,
            locationImageId: null,
            oldLocationImageId: null,
            isLocationImageChange: false,
            center: { lat: 13.7893228, lng: 100.4568576 },
            marker: {
                latLng: {
                    lat: 13.7893228,
                    lng: 100.4568576
                }
            },
            genderSelectItems: [
                { id: 1, name: 'male' },
                { id: 2, name: 'female' }
            ],
            bloodTypeSelectItems: [
                { id: 1, name: 'AB' },
                { id: 2, name: 'A' },
                { id: 3, name: 'B' },
                { id: 4, name: 'O' }
            ],
            statusSelectItems: [
                { id: 1, name: 'active' },
                { id: 2, name: 'inactive' }
            ],
            firstNameRules: [
                (v) => !!v || 'First name is required'
            ],
            lastNameRules: [
                (v) => !!v || 'Last name is required'
            ],
            genderRules: [
                (v) => !!v || 'Gender is required'
            ],
            bloodTypeRules: [
                (v) => !!v || 'Blood type is required'
            ],
            relationshipRules: [
                (v) => !!v || 'Relationship is required'
            ],
            identificationNoRules: [
                (v) => !!v || 'Identification no is required'
            ],
            contactNo1Rules: [
                (v) => !!v || 'ContactNo1 no is required'
            ],
            address1Rules: [
                (v) => !!v || 'Address1 no is required'
            ],
            statusRules: [
                (v) => !!v || 'Status no is required'
            ]
        }),
        computed: {
            ...mapState('member', [ 'item', 'isLoading' ]),
            computedBirthDateFormatted () {
                return this.formatDate(this.birthDate)
            }
        },
        mounted() {
            this.getMemberById()
        },
        methods: {
            isNumber (evt) {
                evt = (evt) ? evt : window.event
                var charCode = (evt.which) ? evt.which : evt.keyCode
                
                if ((charCode > 31 && (charCode < 48 || charCode > 57))) {
                    evt.preventDefault()
                } else {
                    return true
                }
            },
            onPaste (evt) {
                evt.preventDefault()
            },
            formatDate (date) {
                if (!date) return null
                return  dayjs(this.birthDate, 'YYYY/MM/DD').format('DD/MM/YYYY') 
            },
            async onProfileImageChange (val) {
                const value = val.target.files[0]
    
                if (!value) return (this.profileImage = null)

               const data = {
                    name: 'member-profile.js',
                    tag: 'member-profile-image',
                    type: value.type,
                    uri: value
                }

                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.profileImageId = result.id
                    this.profileImage = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isProfileImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            async onLocationImageChange (val) {
                const value = val.target.files[0]

                if (!value) return (this.locationImage = null)

                const data = {
                    name: 'member-location.js',
                    tag: 'member-location-image',
                    type: value.type,
                    uri: value
                }
                
                try {
                    const result = await this.$store.dispatch('file/ADD_FILE', data)
                    this.locationImageId = result.id
                    this.locationImage = process.env.VUE_APP_UPLOADS + '/' + result.path + '/' + result.name
                    this.isLocationImageChange = true
                } catch (error) {
                    this.snackbar = true
                    this.errorMessage = error
                }

            },
            async getMemberById () {
                if (this.$route.params.id) {
                    
                    try {
                        await this.$store.dispatch('member/GET_MEMBER_BY_ID', this.$route.params.id)

                        const { 
                            id,
                            profile_image_id,
                            profile_image_path,
                            profile_image_name,
                            first_name,
                            last_name,
                            gender,
                            blood_type,
                            birth_date,
                            relationship,
                            identification_no,
                            contact_no1,
                            contact_no2,
                            address1,
                            address2,
                            address3,
                            location_image_id,
                            location_image_path,
                            location_image_name,
                            place_latitude,
                            place_longitude,
                            status,
                            username,
                            qrcode_usage,
                            create_by,
                            create_date,
                            edit_by,
                            edit_date } = this.$store.state.member.item
                        
                        this.id = id
                        this.profileImage = profile_image_path !== null && profile_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + profile_image_path + '/' + profile_image_name : null
                        this.profileImageId = profile_image_id
                        this.oldProfileImageId = profile_image_id
                        this.firstName = first_name
                        this.lastName = last_name
                        this.gender = gender
                        this.bloodType = blood_type
                        this.birthDate = dayjs(birth_date).format('YYYY-MM-DD')
                        this.relationship = relationship
                        this.identificationNo = identification_no
                        this.contactNo1 = contact_no1
                        this.contactNo2 = contact_no2
                        this.address1 = address1
                        this.address2 = address2
                        this.address3 = address3
                        this.status = status
                        this.username = username
                        this.qrcodeUsage = qrcode_usage
                        this.locationImage = location_image_path !== null && location_image_name !== null ? process.env.VUE_APP_UPLOADS + '/' + location_image_path + '/' + location_image_name : null
                        this.locationImageId = location_image_id
                        this.oldLocationImageId = location_image_id
                        this.createBy = create_by
                        this.createDate = this.convertJSONDateToString(create_date)
                        this.editBy = edit_by
                        this.editDate = this.convertJSONDateToString(edit_date)

                        this.center = { lat: place_latitude * 1, lng: place_longitude * 1 },
                        this.marker = {
                            latLng: {
                                lat: place_latitude * 1,
                                lng: place_longitude * 1
                            }
                        }
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                    }
                    
                }
            },
            async submit () {
                if (this.$refs.form.validate()) {
                    this.loading = true
                    const data = {
                        id: this.id,
                        firstName: this.firstName,
                        lastName: this.lastName,
                        gender: this.gender,
                        bloodType: this.bloodType,
                        birthDate: dayjs(this.birthDate, 'DD/MM/YYYY').format(),
                        relationship: this.relationship,
                        identificationNo: this.identificationNo,
                        contactNo1: this.contactNo1,
                        contactNo2: this.contactNo2,
                        address1: this.address1,
                        address2: this.address2,
                        address3: this.address3,
                        status: this.status,
                        profileImageId: this.profileImageId,
                        locationImageId: this.locationImageId,
                        oldProfileImageId: this.isProfileImageChange ? this.oldProfileImageId : null,
                        oldLocationImageId: this.isLocationImageChange ? this.oldLocationImageId : null,
                    }

                    try {
                        const result = await this.$store.dispatch('member/UPDATE_MEMBER', data)
                        this.loading = false
                        this.$router.push({ path: '/admin/member' })
                    } catch (error) {
                        this.snackbar = true
                        this.errorMessage = error
                        this.loading = false
                    }
                }
            },
            async changePassword () {
                 try {
                    if (this.password === null || this.password.trim().length === 0) {
                        this.snackbar = true
                        this.errorMessage = 'Password should be between 6-30'
                        return
                    }

                    this.loading = true
                    const result = await this.$store.dispatch('member/CHANGE_PASSWORD', { id: this.id, newPassword: this.password })
                    this.password = null
                    this.loading = false
                } catch (error) {
                    this.closeDialog = false
                    this.loading = false
                    this.snackbar = true
                    this.errorMessage = error
                }
            },
            async deleteMember () {
                try {
                    this.loading = true
                    const result = await this.$store.dispatch('member/DELETE_MEMBER', this.id)
                    this.closeDialog = false
                    this.loading = false
                    this.$router.push({ path: '/admin/member' })
                } catch (error) {
                    this.closeDialog = false
                    this.snackbar = true
                    this.loading = false
                    this.errorMessage = error
                }
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            }
        }
    }
</script>