<template>
    <v-row>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="username" 
                v-model="username" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
        <v-col cols="12" md="3" >
            <v-text-field 
                label="name" 
                v-model="name" 
                clear-icon="mdi-close-circle"
                clearable/>
        </v-col>
         <v-col cols="12" md="3" >
            <base-date-mask :dateChangeParent="dateChangeParent" label="birth date" />
        </v-col>
        <v-col cols="12" md="3" align-self="center" class="text-center" >
            <v-btn
                color="primary"
                class="mx-0 font-weight-light"
                dark
                block
                @click="search"
                style="padding: 0px" >

                <v-icon dark left>mdi-magnify</v-icon>
                ค้นหา
            </v-btn>
        </v-col>
    </v-row>
</template>

<script>
    import { mapMutations } from 'vuex'

    export default {
        name: 'MemberSearchBar',
        data: () => ({
            username: null,
            name: null,
            birthDate: null
        }),
        mounted() {
            this.getMemberList(0)
        },
        computed: {
            usernameCriteria: {
                get () {
                    return this.$store.state.member.usernameCriteria
                },
                set (val) {
                    this.$store.commit('member/SET_USERNAME_CRITERIA', val)
                }
            },
            nameCriteria: {
                get () {
                    return this.$store.state.member.nameCriteria
                },
                set (val) {
                    this.$store.commit('member/SET_NAME_CRITERIA', val)
                }
            }
        },
        methods: {
            ...mapMutations({
                setBirthDateCriteria: 'member/SET_ฺBIRTH_DATE_CRITERIA',
                setPageCriteria: 'member/SET_PAGE_CRITERIA'
            }),
            dateChangeParent(value) {
                this.birthDate = value
            },
            async search(val) {

                const data = {
                    usernameCriteria: this.username,
                    nameCriteria: this.nameCriteria,
                    birthDateCriteria: this.birthDate,
                    offset: 0,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('member/GET_MEMBER_LIST', data)
                    this.usernameCriteria = this.username
                    this.nameCriteria = this.name
                    this.setBirthDateCriteria(this.birthDate)
                    this.setPageCriteria(1)
                } catch (error) {

                }
            },
            async getMemberList (page) {
                const data = {
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('member/GET_MEMBER_LIST', data)
                    this.usernameCriteria = null
                    this.nameCriteria = null
                    this.setBirthDateCriteria(null)
                    this.setPageCriteria(1)
                } catch (error) {
                    console.log('error', error)
                }
            }
        }
    }
</script>

<style scoped>
    .v-sheet button.v-btn.v-size--default:not(.v-btn--icon):not(.v-btn--fab) {
        padding: 0px 30px !important;
    }
</style>