<template>
    <div>
        <v-data-table
            :headers="headers"
            :items="list"
            hide-default-footer
            style="min-height: 400px;"
            :loading="isLoading" >

            <template v-slot:item="{ item }">
                <tr>
                    <td v-text="item.username" />
                    <td v-text="item.name" />
                    <td v-text="convertJSONDateToString(item.birth_date)">
                    <td v-text="convertJSONDateTimeToString(item.create_date)">
                    <td v-text="item.status_name">
                    <td>
                        <v-btn dark icon min-width="0" :to="{ name: 'member-edit', params: { id: item.id } }" >
                            <v-icon color="primary" v-text="'mdi-magnify'" size="25" />
                        </v-btn>
                    </td>
                </tr>
            </template>
        </v-data-table>

        <v-pagination
            v-model="page"
            :length="totalRecords"
            circle />
    </div>
</template>

<script>
    import { mapState } from 'vuex'
    import dayjs from 'dayjs'
    
    export default {
        name: 'MemberTableList',
        data: () => ({
            page: 1,
            headers: [
                {
                    text: 'Username',
                    value: 'username',
                    width: '15%'
                },
                {
                    text: 'Name',
                    value: 'name',
                    width: '15%'
                },
                {
                    text: 'Birth date',
                    value: 'birth_date',
                    width: '15%'
                },
                {
                    text: 'Create date',
                    value: 'create_date',
                    width: '15%'
                },
                {
                    text: 'Status',
                    value: 'status_name',
                    width: '15%'
                },
                {
                    sortable: false,
                    text: '#',
                    width: '15%',
                    value: 'action'
                }
            ],
            search: undefined
        }),
        computed: {
            ...mapState(
                'member', 
                [ 
                    'usernameCriteria', 
                    'nameCriteria', 
                    'birthDateCriteria', 
                    'list', 
                    'totalRecords', 
                    'isLoading' 
                ]
            )
        },
        mounted() {
            // this.getQRCodeSetList(this.page - 1)
        },
        watch: {
            async page () {
                // console.log(this.page)
                await this.getMemberList(this.page - 1)
            }
        },
         methods: {
            async getMemberList (page) {
                
                const data = {
                    usernameCriteria: this.usernameCriteria,
                    nameCriteria: this.nameCriteria,
                    birthDateCriteria: this.$store.state.member.birthDateCriteria,
                    offset: page,
                    limit: 10
                }

                try {
                    const result = await this.$store.dispatch('member/GET_MEMBER_LIST', data)
                } catch (error) {

                }
            },
            convertJSONDateTimeToString (value) {
                return dayjs(value).format('DD/MM/YYYY HH:mm:ss')
            },
            convertJSONDateToString (value) {
                return dayjs(value).format('DD/MM/YYYY')
            }
         }
    }
</script>
