<template>
    <v-app>
        <v-content id="pages" :class="$vuetify.theme.dark ? undefined : 'grey lighten-3'" >
            <v-img
                :class="{
                    'v-image--sm': this.$vuetify.breakpoint.smAndDown,
                    'v-image--md': this.$vuetify.breakpoint.mdAndDown
                }"
                :src="require('@/assets/login.jpg')"
                gradient="to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)"
                min-height="100%" >
                <v-container id="login" fill-height tag="section" >
                    
                    <v-row justify="center">
                        <base-material-alert
                            v-model="alert"
                            color="error"
                            dark
                            dismissible
                            icon="mdi-alert"
                            width="600">
                                <span>Error</span> — {{ errorMessage }}
                            </base-material-alert>
                        <v-slide-y-transition appear>
                            
                            <base-material-card
                                color="success"
                                light
                                max-width="100%"
                                width="600"
                                class="px-5 py-3" >

                                <template v-slot:heading>
                                    <div class="text-center">
                                        <h1 class="display-2 font-weight-bold mb-2">
                                            Login
                                        </h1>
                                    </div>
                                </template>

                                <v-card-text class="text-center">
                                    <v-form v-model="valid" ref="form">
                                        <v-text-field
                                            v-model="username"
                                            :rules="usernameRules"
                                            color="secondary"
                                            label="Username"
                                            prepend-icon="mdi-account" />

                                        <v-text-field
                                            v-model="password"
                                            :rules="passwordRules"
                                            type="password"
                                            class="mb-8"
                                            color="secondary"
                                            label="Password"
                                            prepend-icon="mdi-lock-outline" />

                                        <pages-btn
                                            large
                                            color=""
                                            :loading="loading"
                                            :disabled="loading"
                                            depressed
                                            class="v-btn--text success--text" 
                                            @click="submit" >
                                            Log in
                                        </pages-btn>
                                    </v-form>
                                </v-card-text>
                            </base-material-card>
                        </v-slide-y-transition>
                    </v-row>
                </v-container>
            </v-img>
        </v-content>
    </v-app>
</template>

<script>
  export default {
    name: 'PagesLogin',

    components: {
        PagesBtn: () => import('../../component/Btn')
    },

    data: () => ({
        valid: false,
        alert: false,
        loading: false,
        errorMessage: null,
        username: '',
        password: '',
        usernameRules: [
            (v) => !!v || 'Username is required',
        ],
        passwordRules: [
            (v) => !!v || 'Password is required',
        ],
    }),
    methods: {
        async submit () {
            if (this.$refs.form.validate()) {
                const data = {
                    username: this.username,
                    password: this.password
                }

                this.alert = false
                this.loading = true

                try {
                    const result = await this.$store.dispatch('admin/AUTH_LOGIN', data)
                    this.$router.push({ path: '/admin' })
                } catch (error) {
                    this.alert = true
                    this.errorMessage = error
                }

                this.loading = false
            }
        }
    }
  }
</script>

<style lang="sass">
    #pages
        > .v-content__wrap > .v-image
            padding-top: 64px
            padding-bottom: 88px

        .v-responsive__sizer
            display: none

        .v-image--md
            padding: 188px 0

        .v-image--sm
            padding: 96px 0 188px 0
</style>